@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <span class="nav-link text-light">
            @User.Identity.Name
        </span>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" href="@Url.Action("Logout",User.Identity.AuthenticationType)">登出</a>
    </li>
}
else
{
<li class="nav-item dropdown">
    <div></div>
    <a class="dropdown-item" href="@Url.Action("Login","Student")">學生登入</a>
    <a class="dropdown-item" href="@Url.Action("Login","Teacher")">教師登入</a>
    @*<ul class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        登入
    </ul>*@
    @*<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li><a class="dropdown-item" href="@Url.Action("Login","Student")">學生</a></li>
        <li><a class="dropdown-item" href="@Url.Action("Login","Teacher")">教師</a></li>
    </ul>*@
</li>
}

