@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <span class="nav-link text-light">
            <a href='@Url.Action("Details", "Teacher", null)'>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                </svg>
            </a>
            @User.Identity.Name
        </span>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" href="@Url.Action("Logout",User.Identity.AuthenticationType)">登出</a>
    </li>
}
else
{
    <li class="nav-item dropdown">
        <ul class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            登入
        </ul>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="@Url.Action("Login","Student")">學生</a></li>
            <li><a class="dropdown-item" href="@Url.Action("Login","Teacher")">教師</a></li>
        </ul>
    </li>
}

