@model LMSweb.ViewModel.KPViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <input type="button" class="btn btn-primary" value="新增知識點" onclick="location.href='@Url.Action("Create", "KnowledgePoint", new { CID = Model.CID})'" />
   @* @Html.ActionLink("Create New", "Create", new { cid = Model.CID, CName = Model.CName })*@
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.knowledgePoint)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.knowledgePoints) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KContent)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KID }) |
            @Html.ActionLink("Details", "Details", new { id=item.KID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KID })
        </td>
    </tr>
}

</table>
