@model LMSweb.Models.Course

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="article">
    <h4>新增課程</h4>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger", sortOrder = ViewBag.DateSortParm })
            <div class="mb-3">
                
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.CID, new { @class = "form-control", @Value = "C" + DateTime.Now.ToString("yyMMddHHmmss") } )
                    @Html.ValidationMessageFor(model => model.CID, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
                @Html.LabelFor(model => model.TID, "TID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TID,  new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TID, "", new { @class = "text-danger" })
                </div>
            </div>*@

            <div class="mb-3">
                @Html.LabelFor(model => model.CName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-5">
                    @Html.EditorFor(model => model.CName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="mb-3">
                <div class="col-5">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.IsAddMetacognition)
                        @Html.ValidationMessageFor(model => model.IsAddMetacognition, "", new { @class = "text-danger" })加入後設認知
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <div class="col-5">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.IsAddPeerAssessmemt)
                        @Html.ValidationMessageFor(model => model.IsAddPeerAssessmemt, "", new { @class = "text-danger" })加入同儕互評
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <div class="col-5">
                    @Html.EditorFor(model => model.CreateTime, new { htmlAttributes = new { @class = "form-control", @Value= DateTime.Now, @hidden ="true" } })
                    @Html.ValidationMessageFor(model => model.CreateTime, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-actions no-color">
                <input type="submit" value="送出" class="btn btn-primary" />
                <input type="button" value="取消" class="btn btn-secondary" onclick="location.href='@Url.Action("TeacherHomePage", "Teacher", new { cid = Model.CID})'" />
            </div>
        </div>
    }
</div>
