@model LMSweb.ViewModel.MissionViewModel

@{ ViewBag.Title = "Chat";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<div class="container">
    <div style="width:350px; height:400px; border:2px solid #eee; border-radius:10px;">
        <div id="scroll" style="width:346px; height:400px; overflow-x:hidden; overflow-y:auto;">
            <ul id="messages" style="margin:0; padding:10px; list-style-type:none; width:100%;"></ul>
        </div>
        <div style="width:346px; height:80px; border-top:2px solid #eee;">
            <div class="row align-items-start">
                @*<div class="col-md-9">
                    <input type="text" id="message" placeholder="想說的話" style="width:250px; height:74px; border:0; border-bottom-left-radius:10px; resize:none;" />
                    <input type="button" value="Send" class="btn btn-primary sendM" style="width:86px; height:74px;border:0; border-bottom-right-radius:10px; resize:none;" />
                </div>*@
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="displayname" />
<input type="hidden" id="sid" />
<input type="hidden" id="mid" />
<input type="hidden" id="cid" />
<input type="hidden" id="roomid" />
<input type="hidden" id="groupname" />
<input type="hidden" id="gname" />


@section scripts {
    <script src="~/Scripts/jquery.signalR-2.4.3.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
    <script src="~/signalr/hubs"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var chat = $.connection.chatHub;
            $('#groupname').val('@Model.GID');
            $('#roomid').val('@Model.MID@Model.GID');
            $('#gname').val('@Model.GName');
            $('#sid').val('@Model.SID');
            $('#mid').val('@Model.MID');
            $('#cid').val('@Model.CID');

            //加入群組
            chat.client.addRoom = function (roomid,groupname,mid) {
                var html = '<table class="table"> <tr><td><div id="' + roomid + '" roomid="' + roomid + '">\
                                <label>' + $('#gname').val() + '</label>房間\
                                            聊天記錄如下:<ul>\
                                            </ul>\</table>'

                $("#messages").append(html);
                console.log("group suc");
            };
            //聊天紀錄
            chat.client.getChatHistory = function (histories) {
                console.log(histories)
                for (var i = 0; i < histories.length; i++) {
                    chat.server.historySend($('#roomid').val(), histories[i].SID, histories[i].Time, histories[i].Detail)
                        .done(function () {
                            console.log('his suc');
                        })
                        .fail(function (e) {
                            console.warn(e);
                        });
                }
            };
            //訊息格式
            chat.client.groupMessage = function (roomid, displayname, time, message) {
                $("#" + roomid).find("ul").each(function () {
                    write_msg(roomid, displayname, time, message);
                })
            };
            chat.client.historyMessage = function (roomid, sid, time, message) {
                $("#" + roomid).find("ul").each(function () {
                    history_msg(roomid, sid, time, message);
                })
            };
            //發送訊息
            $(".sendM").click(function () {
                chat.server.send($('#roomid').val(), $('#groupname').val(), $('#displayname').val(), $('#message').val(), $('#cid').val(), $('#sid').val(), $('#mid').val())
                    .done(function () {
                        console.log('send suc');
                        $('#message').val("");
                    })
                    .fail(function (e) {
                        console.warn(e);
                    });
            });


            //Start
            $.connection.hub.start().done(function () {
                chat.server.creatRoom($('#roomid').val(), $('#groupname').val(), $('#mid').val(), $('#sid').val());
            })
        });
        function write_msg(roomid, displayname, time, message) {
            var myname = displayname;
            if (myname == $('#displayname').val()) {
                $('#messages').append('<li class="me"><div><p>' + '我:' + message + '(' + time + ')' + '</p></div><li>');
            }
            else {
                $('#messages').append('<li class="you"><div><p>' + displayname + ':' + message + '(' + time + ')' + '</p></div><li>');
            }
        }
        function history_msg(roomid, sid, time, message) {
            var myid = sid;
            if (myid == $('#displayname').val()) {
                $('#messages').append('<li class="me"><div><p>' + '我:' + message + '(' + time + ')' + '</p></div><li>');
            }
            else {
                $('#messages').append('<li class="you"><div><p>' + sid + ':' + message + '(' + time + ')' + '</p></div><li>');
            }
        }
        function AddRoom(roomid) {
            var data = $(roomid).attr("roomid");
            chat.server.AddGroup(data);
        }
    </script>
}




