@model IEnumerable<LMSweb.Models.Course>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<div class="cardArticle">
    <h4>課程列表</h4>
    <button class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Course")'">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
        </svg>
        新增課程
    </button>
</div>
<div class="article">
    @*<p>@User.Identity.Name</p>*@
    <div class="row row-cols-1 row-cols-md-4 mb-4 text-center">
        @foreach (var item in Model)
        {
            <div class="col">
                <div class="card mb-4 shadow-sm " style="border-radius: 15px; ">
                    @*<div class="card-header py-3">
                        <h4 class="my-0 fw-normal">
                        </h4>
                    </div>*@
                    <div class="card-body">
                        <h4 class="card-title pricing-card-title" style="padding: 30px 40px 50px;">
                            @Html.DisplayFor(modelItem => item.CName)
                        </h4>
                        <hr />
                        @Html.ActionLink("進入課程", "Index", "Missions", new { cid = item.CID }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("編輯", "Edit", "Course", new { cid = item.CID }, new { @class = "btn btn-warning" })
                        
                        @Html.ActionLink("刪除", "Delete", "Course", new { cid = item.CID }, new { @class = "btn btn-secondary" })
                        @*<button type="button" class="w-100 btn btn-lg btn-outline-primary">submin</button>*@
                    </div>

                </div>
            </div> }
        </div>
   
    
    @*<div>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.teacher.TName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.teacher.TName)
                    </td>
                    <td>
                        @Html.ActionLink("進入課程", "Index", "Missions", new { cid = item.CID }, null) |
                        @Html.ActionLink("編輯", "Edit", "Course", new { cid = item.CID }, null) |
                        @Html.ActionLink("刪除", "Delete", "Course", new { cid = item.CID }, null)
                    </td>
                </tr>
            }

        </table>
    </div>*@
</div>

