@model LMSweb.ViewModel.GroupViewModel
@{
    ViewBag.Title = "Assessment";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}
<div class="article">
    @*<p>組別:@Model.Group.GName</p>*@
    <input type="button" value="程式碼" onclick="CodingWindow()" class="btn btn-primary" />
    <input type="button" value="流程圖" onclick="DrawingWindow()" class="btn btn-primary" />
    @using (Html.BeginForm("Create", "Groups", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.TeacherAssessment.TeacherA, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TeacherAssessment.TeacherA, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TeacherAssessment.TeacherA, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.TeacherAssessment.GroupAchievementLevel, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TeacherAssessment.GroupAchievementLevel, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TeacherAssessment.GroupAchievementLevel, "", new { @class = "text-danger" })
                </div>
            </div>
            @*<div class="form-group">
                @Html.LabelFor(model => model.TeacherAssessment.GID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TeacherAssessment.GID, new { htmlAttributes = new { @class = "form-control", @Value = Model.GID} })
                    @Html.ValidationMessageFor(model => model.TeacherAssessment.GID, "", new { @class = "text-danger" })
                </div>
            </div>*@
            @Html.HiddenFor(model => model.CID)
            @Html.HiddenFor(model => model.GID)
            @Html.HiddenFor(model => model.GID)
            <br />
            <div class="mb-3">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-primary" />

                </div>
            </div>
        </div>
    }
</div>
@section scripts
{
    <script>
        function CodingWindow() {
            const myWindow = window.open('@Url.Action("CheckCoding", "Groups", new { gid = Model.GID, cid = Model.CID })', "", "width=800,height=800");
        }
        function DrawingWindow() {
            const myWindow = window.open('@Url.Action("CheckDrawing", "Groups", new { gid = Model.GID, cid = Model.CID })', "", "width=800,height=800");
        }
    </script>
    
}