@model LMSweb.ViewModel.EvalutionViewModel
@{
    ViewBag.Title = "Assessment";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}
<div class="cardArticle">
    <h4>@Model.CName</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Missions", new { CID = Model.CID})">任務列表</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Details", "Missions", new { mid = Model.MID, cid = Model.CID})">@Model.MName</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Groups", new { mid = Model.MID, cid = Model.CID})">作業評價</a></li>
            <li class="breadcrumb-item" active" aria-current="page">@Model.GName</li>
        </ol>
    </nav>
</div>
<div class="article">
    @using (Html.BeginForm("Assessment", "Groups", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <h5>@Model.GName 評價</h5>
        <hr />
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="mb-3">
                @Html.LabelFor(model => model.TeacherAssessment.GroupAchievementScore, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-5">
                    @Html.EditorFor(model => model.TeacherAssessment.GroupAchievementScore, new { htmlAttributes = new { @class = "form-control", @placeholder = "0分 ~ 100分" } })
                    @Html.ValidationMessageFor(model => model.TeacherAssessment.GroupAchievementScore, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="mb-3">
                @Html.LabelFor(model => model.TeacherAssessment.TeacherA, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-5">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="TeacherAssessment_TeacherA" name="TeacherAssessment.TeacherA" style="height: 100px"></textarea>
                        <label for="floatingTextarea">請寫下對小組成果的評價...</label>
                    </div>
                </div>
            </div>
            @Html.HiddenFor(model => model.CID)
            @Html.HiddenFor(model => model.GID)
            @Html.HiddenFor(model => model.MID)


            小組成果
            <div class="accordion mb-3">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            流程圖
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                        <div class="accordion-body">
                            @if (Model.DrawingImgPath == null)
                            {
                                <p>學生尚未上傳流程圖</p>
                            }
                            else
                            {
                                <img src="~/UploadImages/@Model.DrawingImgPath" width="1060" />
                            }
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                            程式碼
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                        <div class="accordion-body">
                            @if (Model.CodeText == null)
                            {
                                <p>學生尚未上傳程式碼</p>
                            }
                            else
                            {
                                <textarea class="form-control" rows="10" readonly>@Model.CodeText</textarea>
                            }
                        </div>
                    </div>
                </div>
            </div>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <table id="table_id" class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.GroupQuestion.First().Description)
                        </th>
                        <th>
                            分數
                        </th>
                        <th>
                            評語
                        </th>
                    </tr>
                </thead>
                <tbody id="number">

                    @foreach (var Q in Model.GroupQuestion)
                    {
                        <tr>
                            <td>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Q.Description)
                            </td>
                            <td>
                                @if (Q.Type == "單選")
                                {
                                    foreach (var qo in Q.GroupOptions)
                                    {

                                        @*<input class="form-check-input" type="radio" value="" id="flexCheckDefault">@qo.OptionName*@
                                        @Html.RadioButton(Q.GQID.ToString(), qo.OptionNum, new { @class = "form-check-input" })
                                        @Html.Label(qo.OptionNum, new { @class = "form-check-label", @for = Q.GQID })

                                    }
                                }
                            </td>
                            <td>
                                @*<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>*@
                                @Html.TextArea(Q.GQID.ToString(), new { @class = "form-control", @rows = "3" })
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
            <div class="mb-3">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="確定送出" class="btn btn-primary" />
                    <input type="button" value="取消" class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Groups" , new {mid = Model.MID, cid = Model.CID })'" />
                </div>
            </div>
        </div>
    }
</div>
@section scripts
{
    <script>
        var Tevalution_qid = @Html.Raw(@Json.Encode(Model.GroupQuestion.Select(q => q.GQID).ToList()));
        //console.log(evalution_qid);
        window.onload = function () {
            var tableLine = document.getElementById("number");
            for (var i = 0; i < tableLine.rows.length; i++) {
                tableLine.rows[i].cells[0].innerHTML = (i + 1);
            }
        }
        $("form").submit(function () {
            var sumbit_data = {};
            sumbit_data["CID"] = "@Model.CID";
            sumbit_data["MID"] = "@Model.MID";
            sumbit_data["GID"] = "@Model.GID";
            sumbit_data["TID"] = "@Model.TID"
            sumbit_data["TRs"] = [];
            for (var i = 0; i < Tevalution_qid.length; i++) {
                var Teacher_Response = {};
                var type = $('input[name="' + Tevalution_qid[i] + '"]').attr('type');
                //console.log(evalution_qid[i]);
                response = "";
                comments = "";
                if (type == "radio") {
                    response = $('input[name="' + Tevalution_qid[i] + '"]:checked').map(function () {
                        return $(this).val();
                    }).get().join();
                    selector = $('textarea[name="' + Tevalution_qid[i] + '"]');
                    comments = selector.val();
                } else if (type == "checkbox") {
                    response = $('input[name="' + Tevalution_qid[i] + '"]:checked').map(function () {
                        return $(this).val();
                    }).get().join();
                } else {
                    selector = $('textarea[name="' + Tevalution_qid[i] + '"]');
                    comments = selector.val();
                }
                //console.log(response);
                Teacher_Response["qid"] = Tevalution_qid[i];
                Teacher_Response["response"] = response;
                Teacher_Response["comments"] = comments;
                sumbit_data["TRs"].push(Teacher_Response);
            }
            console.log(sumbit_data);
            $.ajax({
                url: '@Url.Action("Assessment")',
                type: 'post',
                dataType: 'json',
                data: sumbit_data,
                success: function (response) {
                    // ... do something with the data...
                    window.location.href = response.redirectToUrl;
                }
            });
            return false;
        });
        function CodingWindow() {
            const myWindow = window.open('@Url.Action("CheckCoding", "Groups", new { gid = Model.GID, cid = Model.CID, mid = Model.MID })',"",  "width=800,height=800");
        }
        function DrawingWindow() {
            const myWindow = window.open('@Url.Action("CheckDrawing", "Groups", new { gid = Model.GID, cid = Model.CID, mid = Model.MID })', "", "width=800,height=800");
        }
    </script>
    
}