@model LMSweb.ViewModel.GroupViewModel
@{ ViewBag.Title = "CheckCoding";
    Layout = "~/Views/Shared/_OnlineEditorLayout.cshtml"; }

<h2>CheckCoding3333</h2>
<div>
    <input id="gid" type="text" value="@Model.GID" />

    <input id="cid" type="text" value="@Model.CID" />
    <p>@Html.DisplayFor(model => model.CID)</p>

    <input id="mid" type="text" value="@Model.MID" />
    <p>@Html.DisplayFor(model => model.MID)</p>

    @Model.CID
    @Model.MID
    @Model.GID
</div>

@section scripts
{
    <script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/Coding/coding_editor.js"></script>
    <script>

    </script>

}

