@model LMSweb.ViewModel.GroupViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}
<div class="article">
    <h2>Index</h2>
    @if (Model.Groups.Count == 0)
    {
        <p>目前還沒有新增組別哦</p>
    }
    else
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Groups[0].GName)
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model)*@
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Groups)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.GName)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item)*@
                    </td>
                    @foreach(var ta in item.TeacherA)
                    {
                        @item.TeacherA.Count
                        @ta.GroupAchievementLevel
                        @ta.TeacherA
                        <br />
                    }
                    <td>
                        @*@html.actionlink("程式碼", "checkcoding", new { gid = item.gid, cid = model.cid }) |
                        @html.actionlink("流程圖", "checkdrawing", new { gid = item.gid, cid = model.cid }) |*@
                        @Html.ActionLink("評分", "Assessment", new { gid = item.GID, cid = Model.CID})
                    </td>
                </tr>
            }

        </table>
    }

</div>
@section scripts
{
    <script>
        function scoreFunction() {
            console.log('@Url.Action("Assessment","Group",null)');
            const myWindow = window.open('@Url.Action("Assessment","Group",null)', "", "width=800,height=800");
    </script>
}