@model LMSweb.ViewModel.EvalutionViewModel
@{
    ViewBag.Title = "StudentTeacherER";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}
<div class="cardArticle">
    <h4>@Model.CName</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("StudentMission","Student",new { CID = Model.CID})">任務列表</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("StudentMissionDetail", "Student", new { cid = Model.CID,mid = Model.MID})">@Model.MName</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Groups", new { mid = Model.MID, cid = Model.CID})">作業評價</a></li>
            <li class="breadcrumb-item" active" aria-current="page">@Model.GName</li>
        </ol>
    </nav>
</div>

<div class="article">
    <!--流程圖&程式碼顯示-->
    <h5>@Model.GName 的小組評價內容</h5>
    <div class="accordion mb-3">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    流程圖
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                    @if (Model.DrawingImgPath == null)
                    {
                        <p>學生尚未上傳流程圖</p>
                    }
                    else
                    {
                        <img src="~/UploadImages/@Model.DrawingImgPath" width="1060" />
                    }
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                    程式碼
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                    @if (Model.IsCodeImg && string.IsNullOrEmpty(Model.CodeText))
                    {
                        <img class="img-fluid" src="~/UploadCode/@Model.CodePath" />
                    }
                    else if (!Model.IsCodeImg && !string.IsNullOrEmpty(Model.CodeText))
                    {
                        <textarea class="form-control" rows="10" readonly>@Model.CodeText</textarea>
                    }
                    else
                    {
                        <p>學生尚未上傳程式碼</p>
                    }
                </div>
            </div>
        </div>
    </div>
    <!--評量尺規-->
    <h5>評量尺規</h5>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>評價維度</th>
                <th>配分</th>
                <th>評價標準描述</th>
                <th>非常好</th>
                <th>好</th>
                <th>一般</th>
                <th>較差</th>
                <th>非常差</th>
            </tr>
        </thead>
        <tbody style="background-color : white">
            <tr>
                <td>
                    正確性
                </td>
                <td>
                    40
                </td>
                <td>
                    運行流暢，結果正確，沒有語法錯誤。能準確的繪出解決問題的步驟。
                </td>
                <td>
                    5
                </td>
                <td>
                    4
                </td>
                <td>
                    3
                </td>
                <td>
                    2
                </td>
                <td>
                    1
                </td>
            </tr>
            <tr>
                <td>
                    邏輯性
                </td>
                <td>
                    40
                </td>
                <td>
                    結構清晰，邏輯正確，可有條理地呈現出解決問題的過程。
                </td>
                <td>
                    5
                </td>
                <td>
                    4
                </td>
                <td>
                    3
                </td>
                <td>
                    2
                </td>
                <td>
                    1
                </td>
            </tr>
            <tr>
                <td>
                    可讀性
                </td>
                <td>
                    20
                </td>
                <td>
                    命名及符號符合規範，容易理解。
                </td>
                <td>
                    5
                </td>
                <td>
                    4
                </td>
                <td>
                    3
                </td>
                <td>
                    2
                </td>
                <td>
                    1
                </td>
            </tr>
        </tbody>
    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h5>組間互評</h5>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.CID)
            @Html.HiddenFor(model => model.MID)
            <table id="table_id" class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.GroupQuestion.First().Description)
                        </th>
                        <th>
                            分數
                        </th>
                    </tr>
                </thead>
                <tbody id="number">
                    @foreach (var Q in Model.GroupQuestion)
                    {
                        <tr>
                            <td>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Q.Description)
                            </td>
                            <td>
                                @foreach (var qo in Q.GroupERs)
                                {
                                    if (qo.GID == Model.GID && qo.MID == Model.MID && qo.EvaluatorSID == Model.TID)
                                    {
                                        @qo.Answer
                                    }

                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-primary" onclick=" location.href='@Url.Action("TeacherEdit","Groups", new { gid = Model.GID, mid = Model.MID,cid = Model.CID})'">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-check" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
            </svg>
            編輯評價
        </button>
    </div>
</div>




