@model LMSweb.ViewModel.GroupViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}
<div class="cardArticle">
    <h4>@Model.CName</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("StudentMission", "Student", new { CID = Model.CID})">任務列表</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("StudentMissionDetail", "Student", new { mid = Model.MID, cid = Model.CID})">任務內容</a></li>
            <li class="breadcrumb-item active" aria-current="page">自評與互評</li>

        </ol>
    </nav>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="article">
        <table class="table">
            <thead>
                @Html.ActionLink("自我評價", "StudentSelfEvalution", "Student", new { sid = Model.SID, mid = Model.MID, gid = Model.GID }, new { @class = "" })
            </thead>
            <thead>
                <tr>
                    <th>
                        同儕互評
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Groups)
                {
                    <tr>
                        <td>
                            @foreach (var s in item.Students)
                            {
                                if (s.group.GID == item.GID)
                                {
                                    
                                    @Html.ActionLink(s.SName, "StudentPeerEvalution", "Student", new { sid = s.SID, mid = Model.MID, gid = Model.GID }, new { @class = "" })
                                    <br />
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
      
    </div>
}
