@model LMSweb.ViewModel.GroupViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}
<div class="cardArticle">
    <h4>@Model.CName</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="https://localhost:44301/Student/StudentMission?CID=@Model.CID">任務列表</a></li>
            <li class="breadcrumb-item"><a href="https://localhost:44301/Student/StudentMissionDetail?mid=@Model.MID&cid=@Model.CID">任務內容</a></li>
            <li class="breadcrumb-item active" aria-current="page">自評與互評</li>

        </ol>
    </nav>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="article">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Students[0].SName)
                    </th>
                    
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Groups)
                {
                    <tr>
                        <td>
                            @foreach (var s in item.Students)
                            {
                                if (s.GID == item.GID)
                                {
                                    @s.SName

                                    <br />
                                }
                            }
                        </td>
                        <td>

                            @foreach (var s in item.Students)
                            {
                                if (Model.PeerAssessment != null && s.SID == Model.PeerAssessment.AssessedSID)
                                {
                                    
                                    @Model.PeerAssessment.PeerA


                                }
                                <br />
                            }
                        </td>
                        <td>
                            @foreach (var s in item.Students)
                            {
                                @Html.ActionLink("評分", "Create", new { sid = s.SID, mid = Model.MID, gid = Model.GID }, new { @class = "" })
                                <br />
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
      
    </div>
}
