@model LMSweb.ViewModel.GroupViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}
<div class="cardArticle">
    <h4>@Model.CName</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("StudentMission", "Student", new { cid = Model.CID})">任務列表</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("StudentMissionDetail", "Student", new { cid = Model.CID,mid = Model.MID})">@Model.MName</a></li>
            <li class="breadcrumb-item active" aria-current="page">自評與互評</li>
        </ol>
    </nav>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="article">
        <div class="mb-5">
            <h5>自評</h5>
            <hr />
            <table class="table table-borderless">
                <tbody>
                    <tr>

                        <th class="col-1">
                            自我評價
                        </th>
                        <th>
                            @Html.ActionLink("評價", "StudentSelfEvalution", "Student", new { sid = Model.SID, mid = Model.MID, cid = Model.CID, gid = Model.GID }, new { @class = "btn btn-primary btn-sm" })
                        </th>
                    </tr>
                </tbody>
                
            </table>
        </div>
        <div>
            <h5>互評</h5>
            <hr />
            <table class="table table-borderless">
                <tbody>
                    @foreach (var item in Model.Groups)
                    {
                        foreach (var s in item.Students)
                        {
                            if (s.SID != Model.SID && s.group.GID == item.GID)
                            {
                                <tr>
                                    <th class="col-1">
                                        @s.SName
                                    </th>
                                    <th>
                                        @Html.ActionLink("評價", "StudentPeerEvalution", "Student", new { sid = s.SID, mid = Model.MID, gid = Model.GID, cid = Model.CID }, new { @class = "btn btn-primary btn-sm" })
                                    </th>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
        
    </div>
}

