@model IEnumerable<LMSweb.Models.TeacherAssessment>

@{
    ViewBag.Title = "CheckMission";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}
<div class="article">
    <h2>CheckMission</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupAchievementLevel)
            </th>

            <th>
                查看作業
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeacherA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupAchievementLevel)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TEID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.TEID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TEID })
                </td>
            </tr>
        }

    </table>

</div>
