@model LMSweb.ViewModel.LearnBViewModel
@using System.Collections.Generic;
@using System.IO;

@{
    ViewBag.Title = "學習表現";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
    var Teachercourse = 0;
    var Classcourse = 0;
    string s = "";
    string TAnser = "";
}

<div class="article">
    <div class="row row-cols-lg-auto g-8 align-items-center">
        <div class="col-12">
            <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
            <p>
                @Html.DropDownListFor(m => Model.missions, new SelectList(Model.missions, "MID", "MName"), "請選擇任務", new { id = "Missions" })
            </p>
        </div>
        <div class="col-12">
            <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
            <p>
                @Html.DropDownListFor(m => Model.Groups, new SelectList(Model.Groups, "GID", "GName"), "請選擇組別", new { id = "Groups" })
            </p>
        </div>
        <div class="col-12">
            <p>
                <button onclick="Send()">篩選</button>
            </p>
        </div>
    </div>
    <div class="cardArticle">
        @if (Model.MID == "")
        {
            <strong>任務: 全任務</strong><br />
        }
        @if (Model.MID != "")
        {
            <strong>任務: @Model.MName</strong><br />
        }
        @if (Model.GID != 0)
        {
            <strong>組別: @Model.GName</strong><br />
        }
        @if (Model.GID == 0)
        {
            <strong>組別: 全組別</strong><br />
        }
        
    </div>
    <div class="tab-content" id="nav-tabContent">

        <!--小組成果-->
        <div class="tab-pane fade show active" id="nav-groupbar" role="tabpanel" aria-labelledby="nav-groupbar-tab">
            <p>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                小組成果
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                @if (Model.GID != 0)
                                {
                                    <strong>教師評分: @Model.TeacherScore 分</strong>
                                    <br />
                                    if (Model.TeacherScore > Model.classTeacherScore)
                                    {
                                        s = "高於全班平均";
                                    }
                                    if (Model.TeacherScore < Model.classTeacherScore)
                                    {
                                        s = "低於全班平均";
                                    }
                                    if (Model.TeacherScore == Model.classTeacherScore)
                                    {
                                        s = "等於全班平均";
                                    }
                                    <h14>@s @Model.classTeacherScore 分</h14>
                                    <br />
                                    <strong>教師評語:</strong><br />
                                    foreach (var qo in Model.TeacherER)
                                    {
                                        if (Model.MID == "")
                                        {
                                            if (qo.GQID == 4 && (qo.EvaluatorSID == "T004"))
                                            {
                                                <h>&emsp;&emsp;@qo.Answer</h><br />
                                            }
                                        }
                                        if (Model.MID != "")
                                        {
                                            if (qo.GQID == 4 && (qo.EvaluatorSID == "T004") && qo.MID == Model.MID)
                                            {
                                                <h>&emsp;&emsp;@qo.Answer</h><br />
                                            }
                                        }
                                    }

                                }
                                @if (Model.GID == 0)
                                {
                                    <strong>教師評分: @Model.classTeacherScore 分</strong>
                                    <br />
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-10">
                            @if (Model.GID != 0)
                            {
                                <script src="../Scripts/Chart.min.js"></script>
                                <canvas id="groupbar"></canvas>
                            }
                            @if (Model.GID == 0)
                            {
                                <script src="../Scripts/Chart.min.js"></script>
                                <canvas id="noGidgroupbar"></canvas>
                            }
                        </div>
                    </div>
                </div>
            </p>
        </div>
    </div>
</div>

<!-- 小組成果 -->
<script>
    var ctx = document.getElementById("groupbar");
    var chart = new Chart(ctx, {
        type: "bar",
        data: {
            labels: ['教師評分'],

            datasets: [{
                label: "小組分數",
                fontSize: 24,
                backgroundColor: [
                    'rgb(255, 99, 132)'
                ],
                data: [@Model.TeacherScore]
            },
            {
                label: "全班平均",
                fontSize: 24,
                backgroundColor: [
                    'rgb(54, 162, 235)'
                ],
                data: [@Model.classTeacherScore]
            }],
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top'
                }
            },
            title: {
                display: true,
                fontSize: 24,
                text: '小組成果'
            },
            scales: {
                xAxes: [{
                    ticks: {
                        fontSize: 18
                    },
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        fontSize: 14
                    },
                }]
            }
        }
    });
</script>

<!-- 小組成果 沒有組別-->
<script>
    var ctx = document.getElementById("noGidgroupbar");
    var chart = new Chart(ctx, {
        type: "bar",
        data: {
            labels: ['教師評分'],

            datasets: [
            {
                label: "全班平均",
                fontSize: 24,
                backgroundColor: [
                    'rgb(54, 162, 235)'
                ],
                data: [@Model.classTeacherScore]
            }],
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top'
                }
            },
            title: {
                display: true,
                fontSize: 24,
                text: '小組成果'
            },
            scales: {
                xAxes: [{
                    ticks: {
                        fontSize: 18
                    },
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        fontSize: 14
                    },
                }]
            }
        }
    });
</script>

@section scripts
{
    <script type="text/javascript" language="javascript">
        var cid = '@Model.CID';
        $('#Groups option:selected').val(0);
        var selectedMID = $('#Missions option:selected').val();
        var selectedGID = $('#Groups option:selected').val();
        $(document).ready(function () {
            $('#Missions').change(function () {
                selectedMID = $('#Missions option:selected').val();
                console.log(selectedMID)
            });
            $('#Groups').change(function () {
                selectedGID = $('#Groups option:selected').val();
                console.log(selectedGID);
            });
        });
        function Send() {
            //location.href = "/LMSweb/LearningBehaviors/TeacherJourneyR?cid=" + cid + "&mid=" + selectedMID + "&gid=" + selectedGID;
            location.href = "/LMSweb/LearningBehaviors/TeacherJourneyR?cid=" + cid + "&mid=" + selectedMID + "&gid=" + selectedGID;
            //if (selectedMID == "") {
            //    console.log("MidNull");
            //};
            //if (selectedGID == "") {
            //    console.log("GidNull");
            //};
            //if (selectedMID != "" && selectedGID != "") {
            //    location.href = "/LearningBehaviors/TeacherJourneyR?cid=" + cid + "&mid=" + selectedMID + "&gid=" + selectedGID;
            //};
        }
    </script>
}



