@model LMSweb.ViewModel.LearnBViewModel
@using System.Collections.Generic;
@using System.IO;

@{
    ViewBag.Title = "學習表現";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
    //小組成果
    var Teachercourse = 0;
    var Classcourse = 0;
    string s = "";
    string gs = "";
    string TAnser = "";

    //合作學習
    var peerCode = 0;
    var peerDiscuss = 0;
    var peerDraw = 0;
    var peerContribute = 0;
    var selfCode = 0;
    var selfDraw = 0;
    var selfDiscuss = 0;
    var selfContribute = 0;
    var selfDiscussCount = 0;
    var selfDrawCount = 0;
    var selfCodeCount = 0;
    var selfContributeCount = 0;
    var peerDiscussCount = 0;
    var peerDrawCount = 0;
    var peerCodeCount = 0;
    var peerContributeCount = 0;


    //foreach (var item in Model.student)
    //{
    //    foreach (var i in Model.GSelfER)//自我評價 小組平均
    //    {
    //        if (item.SID == i.SID)
    //        {
    //            if (i.DQID == 20)
    //            {
    //                var answer = Convert.ToInt32(i.Answer);
    //                selfDiscuss = selfDiscuss + answer;
    //                selfDiscussCount++;
    //            }
    //            if (i.DQID == 21)
    //            {
    //                var answer = Convert.ToInt32(i.Answer);
    //                selfDraw = selfDraw + answer;
    //                selfDrawCount++;
    //            }
    //            if (i.DQID == 22)
    //            {
    //                var answer = Convert.ToInt32(i.Answer);
    //                selfCode = selfCode + answer;
    //                selfCodeCount++;
    //            }
    //            if (i.DQID == 23)
    //            {
    //                var answer = Convert.ToInt32(i.Answer);
    //                selfContribute = selfContribute + answer;
    //                selfContributeCount++;
    //            }

    //        }

    //    }
    //    foreach (var i in Model.GPeerER)//同儕互評 小組平均
    //    {
    //        if (item.SID == i.SID)
    //        {
    //            if (i.DQID == 20)
    //            {
    //                var answer = Convert.ToInt32(i.Answer);
    //                peerDiscuss = peerDiscuss + answer;
    //                peerDiscussCount++;
    //            }
    //            if (i.DQID == 21)
    //            {
    //                var answer = Convert.ToInt32(i.Answer);
    //                peerDraw = peerDraw + answer;
    //                peerDrawCount++;
    //            }
    //            if (i.DQID == 22)
    //            {
    //                var answer = Convert.ToInt32(i.Answer);
    //                peerCode = peerCode + answer;
    //                peerCodeCount++;
    //            }
    //            if (i.DQID == 23)
    //            {
    //                var answer = Convert.ToInt32(i.Answer);
    //                peerContribute = peerContribute + answer;
    //                peerContributeCount++;
    //            }

    //        }

    //    }
    //}
    ////計算自我評價小組平均
    //selfDiscuss = selfDiscuss / selfDiscussCount;
    //selfDraw = selfDraw / selfDrawCount;
    //selfCode = selfCode / selfCodeCount;
    //selfContribute = selfContribute / selfContributeCount;
    ////同儕互評小組均
    //peerDiscuss = peerDiscuss / peerDiscussCount;
    //peerDraw = peerDraw / peerDrawCount;
    //peerCode = peerCode / peerCodeCount;
    //peerContribute = peerContribute / peerContributeCount;
    //總攬
    //var SEvalution = ((Model.SelfDraw) + (Model.SelfCode) + (Model.SelfDiscuss) + (Model.SelfContribute)) / 4;//自我評價分數
    //SEvalution = Math.Round((SEvalution), 1, MidpointRounding.ToEven);

    //double GSEvalution = (selfDiscuss + selfDraw + selfCode + selfContribute) / 4; //自我評價分數 小組平均
    //GSEvalution = Math.Round((GSEvalution), 1, MidpointRounding.ToEven);

    var CSEvalution = ((Model.classSelfDraw) + (Model.classSelfCode) + (Model.classSelfDiscuss) + (Model.classSelfContribute)) / 4;//自我評價分數 全班平均
    CSEvalution = Math.Round((CSEvalution), 1, MidpointRounding.ToEven);

    //var PEvalution = ((Model.PeerDraw) + (Model.PeerCode) + (Model.PeerDiscuss) + (Model.PeerContribute)) / 4;//同儕互評分數
    //PEvalution = Math.Round((PEvalution), 1, MidpointRounding.ToEven);

    //double GPEvalution = (peerDiscuss + peerDraw + peerCode + peerContribute) / 4; ////同儕互評分數 小組平均
    //GPEvalution = Math.Round((GPEvalution), 1, MidpointRounding.ToEven);

    var CPEvalution = ((Model.classPeerDraw) + (Model.classPeerCode) + (Model.classPeerDiscuss) + (Model.classPeerContribute)) / 4;////同儕互評分數 全班平均
    CPEvalution = Math.Round((CPEvalution), 1, MidpointRounding.ToEven);

    //var gResults = Math.Round((((Model.TeacherScore) + (Model.GroupScore)) / 2), 1, MidpointRounding.ToEven);// 小組成果分數
    var CgResults = Math.Round((((Model.classTeacherScore) + (Model.classGroupScore)) / 2), 1, MidpointRounding.ToEven);// 小組成果分數全班平均
}

<div class="article">

    <div class="row row-cols-lg-auto g-8 align-items-center">
        <div class="col-12">
            <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
            <p>
                @Html.DropDownListFor(m => Model.missions, new SelectList(Model.missions, "MID", "MName"), "請選擇任務", new { id = "Missions" })
            </p>
        </div>
        <div class="col-12">
            <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
            <p>
                @Html.DropDownList("Groups", (SelectList)(ViewBag.SelectList), "請選擇組別", new { id = "Groups" })
            </p>
        </div>
        <div class="col-12">
            <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
            <p>
                <select id="Studsnts" name="students"><option>請先選擇組別</option></select>
            </p>
        </div>
        <div class="col-12">
            <p>
                <button onclick="Send()">篩選</button>
            </p>
        </div>
    </div>
    <div class="cardArticle">
        <h1>全任務</h1>
    </div>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-bar-tab" data-bs-toggle="tab" data-bs-target="#nav-bar" type="button" role="tab" aria-controls="nav-bar" aria-selected="true">總覽</button>
            <button class="nav-link" id="nav-Radar-tab" data-bs-toggle="tab" data-bs-target="#nav-Radar" type="button" role="tab" aria-controls="nav-Radar" aria-selected="false">自我評價</button>
            <button class="nav-link" id="nav-personalbar-tab" data-bs-toggle="tab" data-bs-target="#nav-personalbar" type="button" role="tab" aria-controls="nav-personalbar" aria-selected="false">同儕互評</button>
            <button class="nav-link" id="nav-groupbar-tab" data-bs-toggle="tab" data-bs-target="#nav-groupbar" type="button" role="tab" aria-controls="nav-groupbar" aria-selected="false">小組成果</button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <!--總覽-->
        <div class="tab-pane fade show active" id="nav-bar" role="tabpanel" aria-labelledby="nav-bar-tab">
            <p>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                學習表現
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>自我評價分數: @CSEvalution 分</strong><br />

                                <strong>同儕互評分數: @CPEvalution 分</strong><br />

                                <strong>小組成果分數: @CgResults 分</strong><br />

                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-10">
                            <script src="../Scripts/Chart.min.js"></script>
                            <canvas id="bar"></canvas>
                        </div>
                    </div>
                </div>
            </p>
        </div>
        <!--自我評價-->
        <div class="tab-pane fade" id="nav-Radar" role="tabpanel" aria-labelledby="nav-Radar-tab">
            <p>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                自我評價
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>參與討論: @Model.classSelfDiscuss  分</strong><br />

                                <strong>參與規劃流程圖: @Model.classSelfDraw 分</strong><br />

                                <strong>參與撰寫程式碼: @Model.classSelfCode 分</strong><br />

                                <strong>成果貢獻: @Model.classSelfContribute  分</strong><br />

                                @*<strong>評語:</strong><br />
                                    @foreach (var qo in Model.SelfER)
                                    {
                                        if (qo.DQID == 27)
                                        {
                                            @qo.Answer;<br />
                                        }
                                    }*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <script src="../Scripts/Chart.min.js"></script>
                            <canvas id="Radar"></canvas>
                        </div>
                    </div>
                </div>
            </p>
        </div>
        <!--同儕互評-->
        <div class="tab-pane fade" id="nav-personalbar" role="tabpanel" aria-labelledby="nav-personalbar-tab">
            <p>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                同儕互評
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div data-bs-spy="scroll" data-bs-target="#nav-personalbar" data-bs-offset="0" tabindex="0">
                                <div class="accordion-body">

                                    <strong>參與討論: @Model.classPeerDiscuss 分</strong><br />

                                    <strong>參與規劃流程圖: @Model.classPeerDraw 分</strong><br />

                                    <strong>參與撰寫程式碼: @Model.classPeerCode 分</strong><br />

                                    <strong>參與撰寫程式碼: @Model.classPeerContribute 分</strong><br />

                                    @*<strong>評語:</strong><br />
                                        @foreach (var qo in Model.PeerER)
                                        {
                                            if (qo.DQID == 27)
                                            {
                                                @qo.Answer;<br />
                                            }
                                        }*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <script src="../Scripts/Chart.min.js"></script>
                            <canvas id="peerRadar"></canvas>
                        </div>
                    </div>
                </div>
            </p>
        </div>
        <!--小組成果-->
        <div class="tab-pane fade" id="nav-groupbar" role="tabpanel" aria-labelledby="nav-groupbar-tab">
            <p>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                教師評價
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>教師評分: @Model.classTeacherScore 分</strong>
                                <br />

                                @*<strong>教師評語 :</strong><br />
                                    @foreach (var qo in Model.TeacherER)
                                    {
                                        if (qo.GQID == 4 && (qo.EvaluatorSID == "T004" || qo.EvaluatorSID == "T001") && qo.MID == Model.MID)
                                        {
                                            TAnser = qo.Answer;
                                        }
                                    }
                                    &emsp;&emsp;@TAnser*@
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                組間互評
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>同儕評分: @Model.classGroupScore 分</strong>
                                <br />

                                @*<strong>同儕評語 :</strong><br />
                                    @foreach (var qo in Model.GroupComments)
                                    {
                                        @qo.Answer;<br />
                                    }*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-10">
                            <script src="../Scripts/Chart.min.js"></script>
                            <canvas id="groupbar"></canvas>
                        </div>
                    </div>
                </div>
            </p>
        </div>
    </div>
</div>

<!-- 自我評價 -->
<script>
    //var jsMonth = @@Html.Raw(ViewBag.JsonMonth);
    var ctx = document.getElementById("Radar");
    var chart = new Chart(ctx, {
        type: "radar",
        data: {
            labels: ['規劃', '撰寫', '討論', '貢獻'],
            //labels: jsName,
            datasets: [
            {
                label: "全班平均",
                fontSize: 24,
                //label: jsPoint[0].StudentName,
                fill: false,
                //backgroundColor: 'rgba(255,165,255,0.3)',
                borderColor: 'rgb(255, 206, 86)',
                //pointStyle: "circle",
                //pointBackgroundColor: 'rgb(0,222,0)',
                //pointRadius: 5,
                //pointHoverRadius: 10,
                //data: jsPoint
                data: [@Model.classSelfDraw, @Model.classSelfCode,@Model.classSelfDiscuss,@Model.classSelfContribute]
            },]
        },
        options: {
            responsive: true,

            title: {
                display: true,
                fontSize: 26,
                text: '自我評價雷達圖'
            },
            tooltips: {
                mode: 'point',
                intersect: true,
            },
        },
        scale: {
            fontSize: 18,
            ticks: {
                fontSize:18,
                beginAtZero: true,
                min:0,
                stepSize: 1,
                pointLabels: {      //labels，軸的文字標籤(ex:攻擊)
                    fontSize: 18
                }
            }
        }
    });
</script>
<!-- 總攬 -->
<script>
    var ctx = document.getElementById("bar");
    var chart = new Chart(ctx, {
        type: "bar",
        data: {
            labels: ['自我評價', '同儕互評', '小組成果'],
            fontSize: 24,
            datasets: [
            {
                label: "全班平均",
                backgroundColor: [
                    'rgb(255, 206, 86)',
                    'rgb(255, 206, 86)',
                    'rgb(255, 206, 86)'
                ],
                data: [@CSEvalution, @CPEvalution, @CgResults]
            }],
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                    fontSize: 20,
                    display: true,
                }
            },
            title: {
                display: true,
                fontSize: 26,
                text: '學習表現'
            },
            scales: {
                xAxes: [{
                    ticks: {
                        fontSize: 18
                    },
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        fontSize: 14
                    },
                }]
            }
        }
    });
</script>
<!-- 同儕互評 -->
<script>
    //var jsMonth = @@Html.Raw(ViewBag.JsonMonth);
    var ctx = document.getElementById("peerRadar");
    var chart = new Chart(ctx, {
        type: "radar",
        data: {
            labels: ['規劃', '撰寫', '討論', '貢獻'],
            //labels: jsName,
            datasets: [
            {
                label: "全班平均",
                fontSize: 18,
                //label: jsPoint[0].StudentName,
                fill: false,
                //backgroundColor: 'rgba(255,165,255,0.3)',
                borderColor: 'rgb(255, 206, 86)',
                //pointStyle: "circle",
                //pointBackgroundColor: 'rgb(0,222,0)',
                //pointRadius: 5,
                //pointHoverRadius: 10,
                //data: jsPoint
                data: [@Model.classPeerDraw, @Model.classPeerCode, @Model.classPeerDiscuss,@Model.classPeerContribute]
            },]
        },
        options: {
            responsive: true,
            title: {
                display: true,
                fontSize: 26,
                text: '同儕互評雷達圖'
            },
            tooltips: {
                mode: 'point',
                intersect: true,
            },
        },
        scale: {
            ticks: {
                fontSize: 18,
                beginAtZero: true,
                min: 0,
                pointLabels: {      //labels，軸的文字標籤(ex:攻擊)
                    fontSize: 18
                }
            }
        }
    });
</script>
<!-- 小組成果 -->
<script>
    var ctx = document.getElementById("groupbar");
    var chart = new Chart(ctx, {
        type: "bar",
        data: {
            labels: ['教師評分','同儕評分'],
            datasets: [
            {
                label: "全班平均",
                fontSize: 18,
                backgroundColor: [
                    'rgb(255, 206, 86)',
                    'rgb(255, 206, 86)'
                ],
                data: [@Model.classTeacherScore ,@Model.classGroupScore]
            }],
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top'
                }
            },
            title: {
                display: true,
                fontSize: 26,
                text: '小組成果'
            },
            scales: {
                xAxes: [{
                    ticks: {
                        fontSize: 14
                    },
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        fontSize: 14
                    },
                }]
            }
        }
    });
</script>

@section scripts
{
    <script type="text/javascript" language="javascript">
        var cid = '@Model.CID';
        $('#Groups option:selected').val("0");
        $('#Studsnts option:selected').val("");
        var selectedMID = $('#Missions option:selected').val();
        var selectedGID = $('#Groups option:selected').val();
        var selectedSID = $('#Studsnts option:selected').val();
        $(document).ready(function () {
            $('#Missions').change(function () {
                selectedMID = $('#Missions option:selected').val();
                console.log(selectedMID)
            });

            $('#Groups').change(function () {
                selectedGID = $('#Groups option:selected').val();
                console.log(selectedGID);
                ChangeStudent();
            });

            $('#Studsnts').change(function () {
                selectedSID = $('#Studsnts option:selected').val();
                console.log(selectedSID)
            });
        });
        function Send() {
            location.href = "/LMSweb/LearningBehaviors/TeacherEvalutionJourneyR?cid=" + cid + "&mid=" + selectedMID + "&gid=" + selectedGID + "&sid=" + selectedSID;
        }
        function ChangeStudent() {
            var selectedValue = $('#Groups option:selected').val();
            if ($.trim(selectedValue).length > 0) {
            GetStudent(selectedValue);
            }
        }

        function GetStudent(GID) {
            $.ajax({
                url: '@Url.Action("Studsnts", "LearningBehaviors")',
                data: { GID: GID},
                type: 'post',
                cache: false,
                async: false,
                dataType: 'json',
                success: function (data) {
                    if (data.length > 0) {
                        $('#Studsnts').empty();
                        $('#Studsnts').append($('<option></option>').val('').text('請選擇學生'));
                        $.each(data, function (i, item) {
                            $('#Studsnts').append($('<option></option>').val(item.Key).text(item.Value));
                        });
                    }
                }
            });
        }

    </script>
}