@model LMSweb.ViewModel.MissionViewModel
@{
    ViewBag.Title = "StudentMissionDetail";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
<style>
    table {
        border-collapse: collapse;
        /*margin: 10px auto;*/
    }

        table tr {
            border-bottom: solid 2px #F0F0F2;
        }

    th {
        background-color: cadetblue;
        color: #F0F0F2;
        text-align: center;
        padding: 10px 0;
        width: 50%;
    }

    td {
        padding: 10px 10px;
    }

    .MissionDetailArticle {
        position: relative;
        display: block;
        box-sizing: border-box;
        width: 100%;
        max-width: 1200px;
        margin: 20px auto 20px;
        padding: 30px 0px 50px 70px;
        border-radius: 5px;
        background: #F0F0F2;
        border: 1px solid #dee2e6;
        border-color: #cdcdcd;
    }
</style>
<div class="cardArticle">
    <h4>@Model.CName</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("StudentMission","Student",new { CID = Model.CID})">任務列表</a></li>
            <li class="breadcrumb-item active" aria-current="page">任務內容</li>
        </ol>
    </nav>
</div>
<div class="MissionDetailArticle">
    <div class="mb-3">
        <h5><b>@Html.DisplayFor(model => model.mis.MName)</b></h5>
    </div>
    <div class="mb-3">

        @if (Model.mis.IsGoalSetting)
        {
            @Html.ActionLink("目標設置", "StudentGoalSetting", "Student", new { MID = Model.MID, CID = Model.CID }, new { @class = "btn btn-primary", @id = "goal_btn" })
        }

        @if (Model.mis.IsDiscuss)
        {
            @Html.ActionLink("討論區", "Chat", "Student", new { MID = Model.MID, CID = Model.CID }, new { @class = "btn btn-primary", @id = "dicsuss_btn" })
        }
        @if (Model.mis.IsDrawing)
        {
            @Html.ActionLink("流程圖", "StudentDrawing", "Student", new { MID = Model.MID, CID = Model.CID }, new { @class = "btn btn-primary", @id = "drawing_btn" })
        }
        @if (Model.mis.IsCoding)
        {
            @Html.ActionLink("程式碼", "StudentCoding", "Student", new { MID = Model.MID, CID = Model.CID }, new { @class = "btn btn-primary", @id = "coding_btn" })
        }
        @if (Model.mis.IsAssess)
        {
            @Html.ActionLink("自評與互評", "Index", "PeerAssessments", new { SID = Model.SID, MID = Model.MID, CID = Model.CID }, new { @class = "btn btn-primary", @id = "assess_btn" })
        }
        @if (Model.mis.IsReflect)
        {
            @Html.ActionLink("自我反思", "StudentReflection", "Student", new { MID = Model.MID, CID = Model.CID }, new { @class = "btn btn-primary", @id = "reflec_btn" })
        }
        @Html.ActionLink("組間互評", "StudentGroupEvalution", "Student", new { MID = Model.MID, CID = Model.CID }, new { @class = "btn btn-primary", @id = "reflec_btn" })

    </div>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.mis.course.CName)
            </th>
            <td>
                @Html.DisplayFor(model => model.mis.course.CName)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.mis.Start)
            </th>
            <td>
                @Html.DisplayFor(model => model.mis.Start)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.mis.End)
            </th>
            <td>
                @Html.DisplayFor(model => model.mis.End)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.mis.MName)
            </th>
            <td>
                @Html.DisplayFor(model => model.mis.MName)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.mis.MDetail)
            </th>
            <td>
                @Html.DisplayFor(model => model.mis.MDetail)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.mis.relatedKP)
            </th>
            <td>
                @foreach (var kp in Model.KContents)
                {
                    @kp
                    <br>
                }
            </td>
        </tr>
    </table>
    
</div>
@section scripts
{
    <script>
        //$("#mis_IsDrawing").change(function () {
        //    var a = $("#mis_IsDrawing").val();

        //    console.log(a);
        //    if (a) {
        //        //開啟
        //        $('#drawing_btn').attr('hidden', false);
        //    }
        //    else {
        //        $('#drawing_btn').attr('hidden', true);
        //    }
        //});
    </script>
    

}

