@model LMSweb.ViewModel.EvalutionViewModel
@{
    ViewBag.Title = "StudentSelfER";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
<style>
    .message-btn {
        position: fixed;
        width: 100px;
        height: 100px;
        right: 50px;
        bottom: 50px;
    }
</style>
<div class="cardArticle">
    <h4>@Model.CName</h4>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("StudentMission","Student",new { CID = Model.CID})">任務列表</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("StudentMissionDetail", "Student", new { cid = Model.CID,mid = Model.MID})">@Model.MName</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "PeerAssessments", new { cid = Model.CID,mid = Model.MID})">自評與互評</a></li>
            <li class="breadcrumb-item active" aria-current="page">自我評價</li>
        </ol>
    </nav>
</div>
<div class="article">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h5>自我評價</h5>
            <h4>@Model.SName</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.CID)
            @Html.HiddenFor(model => model.MID)
            <table id="table_id" class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DefaultQuestion.First().Description)
                        </th>
                        <th>
                            分數
                        </th>
                    </tr>
                </thead>
                <tbody id="number">
                    @foreach (var Q in Model.DefaultQuestion)
                    {
                        <tr>
                            <td>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Q.Description)
                            </td>
                            <td>
                                @foreach (var qo in Q.EvalutionResponses)
                                {
                                    if (qo.SID == Model.SID && qo.EvaluatorSID == Model.EvaluatorSID && qo.MID == Model.MID)
                                    {
                                        @qo.Answer
                                    }
                                }
                            </td>
                            @*<td>
                                    @foreach (var qo in Q.EvalutionResponses)
                                    {
                                        if (qo.SID == Model.SID && qo.EvaluatorSID == Model.EvaluatorSID)
                                        {
                                            @qo.Comments
                                        }
                                    }
                                </td>*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-primary" onclick=" location.href='@Url.Action("StudentSelfEdit","Student", new { cid = Model.CID,mid = Model.MID,sid = Model.SID})'">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-check" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
            </svg>
            編輯評價
        </button>
    </div>
</div>
<!-- 懸浮聊天室 -->
<body>
    @if (Model.IsDiscuss)
    {
        <button type="button" class="btn btn-primary rounded-circle message-btn" data-bs-toggle="offcanvas"
                data-bs-target="#messageBox" aria-controls="messageBox">
            討論區
        </button>
    }

    <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="messageBox" aria-labelledby="messageBoxLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="messageBoxLabel">聊天室</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <iframe src="@Url.Action("Chat","Student",new { MID = @Model.MID, CID = @Model.CID})" width="365" height="830" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

@section scripts
{
    <script>
        var evalution_qid = @Html.Raw(@Json.Encode(Model.DefaultQuestion.Select(q => q.DQID).ToList()));
        //console.log(questions_qid);
        window.onload = function () {
            var tableLine = document.getElementById("number");
            for (var i = 0; i < tableLine.rows.length; i++) {
                tableLine.rows[i].cells[0].innerHTML = (i + 1);

            }
        }
        $("form").submit(function () {
            var sumbit_data = {};
            sumbit_data["CID"] = "@Model.CID";
            sumbit_data["MID"] = "@Model.MID";
            sumbit_data["ERs"] = [];
            for (var i = 0; i < evalution_qid.length; i++) {
                var Evalution_Response = {};
                var type = $('input[name="' + evalution_qid[i] + '"]').attr('type');
                //console.log(questions_qid[i]);
                response = "";
                if (type == "radio") {
                    response = $('input[name="' + evalution_qid[i] + '"]:checked').map(function () {
                        return $(this).val();
                    }).get().join();
                    selector = $('textarea[name="' + evalution_qid[i] + '"]');
                    response = selector.val();
                } else if (type == "checkbox") {
                    response = $('input[name="' + evalution_qid[i] + '"]:checked').map(function () {
                        return $(this).val();
                    }).get().join();
                } else {
                    selector = $('textarea[name="' + evalution_qid[i] + '"]');
                    response = selector.val();
                }
                //console.log(response);
                Evalution_Response["qid"] = evalution_qid[i];
                Evalution_Response["response"] = response;
                Evalution_Response["sid"] = "@Model.SID";
                sumbit_data["ERs"].push(Evalution_Response);
            }
            console.log(sumbit_data);
            $.ajax({
                url: '@Url.Action("StudentSelfEvalution")',
                type: 'post',
                dataType: 'json',
                data: sumbit_data,
                success: function (response) {
                    // ... do something with the data...
                    window.location.href = response.redirectToUrl;
                }
            });
            return false;
        });
    </script>
}