@model LMSweb.ViewModel.EvalutionViewModel
@{
    ViewBag.Title = "StudentGroupEvalution";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
<div class="cardArticle">
    <h4>@Model.CName</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("StudentMission","Student",new { CID = Model.CID})">任務列表</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("StudentMissionDetail", "Student", new { cid = Model.CID,mid = Model.MID})">任務內容</a></li>
            <li class="breadcrumb-item active" aria-current="page">組間互評</li>
        </ol>
    </nav>
</div>
<div class="article">

    <!--流程圖&程式碼顯示-->
    小組成果 :
    <div class="accordion mb-3">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    流程圖
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                    @if (Model.DrawingImgPath == null)
                    {
                        <p>學生尚未上傳流程圖</p>
                    }
                    else
                    {
                        <img src="~/UploadImages/@Model.DrawingImgPath" width="1060" />
                    }
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                    程式碼
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                    @if (Model.CodeText == null)
                    {
                        <p>學生尚未上傳程式碼</p>
                    }
                    else
                    {
                        <textarea class="form-control" rows="10" readonly>@Model.CodeText</textarea>
                    }
                </div>
            </div>
        </div>
    </div>
    <!--評論-->
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h5>組間互評</h5>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.CID)
            @Html.HiddenFor(model => model.MID)
            <table id="table_id" class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DefaultQuestions.First().Description)
                        </th>
                        <th>
                            分數
                        </th>
                        <th>
                            評語
                        </th>
                    </tr>
                </thead>
                <tbody id="number">

                    @foreach (var Q in Model.DefaultQuestions)
                    {
                        <tr>
                            <td>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Q.Description)
                            </td>
                            <td>
                                @if (Q.Type == "單選")
                                {
                                    foreach (var qo in Q.DefaultOptions)
                                    {

                                        @*<input class="form-check-input" type="radio" value="" id="flexCheckDefault">@qo.OptionName*@
                                        @Html.RadioButton(Q.DQID.ToString(), qo.DOptions, new { @class = "form-check-input" })
                                        @Html.Label(qo.DOptions, new { @class = "form-check-label", @for = Q.DQID })

                                    }
                                }
                            </td>
                            <td>
                                @*<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>*@
                                @Html.TextArea(Q.DQID.ToString(), new { @class = "form-control", @rows = "3" })
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
            <div class="mb-3">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmModal">送出</button>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">送出確認</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            送出後無法做修改，確定要送出嗎?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">再想想</button>
                            <input type="submit" value="送出" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>
@section scripts
{
    <script>
        var evalution_qid = @Html.Raw(@Json.Encode(Model.DefaultQuestions.Select(q => q.DQID).ToList()));
        //console.log(evalution_qid);
        window.onload = function () {
            var tableLine = document.getElementById("number");
            for (var i = 0; i < tableLine.rows.length; i++) {
                tableLine.rows[i].cells[0].innerHTML = (i + 1);
            }
        }
        $("form").submit(function () {
            var sumbit_data = {};
            sumbit_data["CID"] = "@Model.CID";
            sumbit_data["MID"] = "@Model.MID";
            sumbit_data["ERs"] = [];
            for (var i = 0; i < evalution_qid.length; i++) {
                var Group_Response = {};
                var type = $('input[name="' + evalution_qid[i] + '"]').attr('type');
                //console.log(evalution_qid[i]);
                response = "";
                comments = "";
                if (type == "radio") {
                    response = $('input[name="' + evalution_qid[i] + '"]:checked').map(function () {
                        return $(this).val();
                    }).get().join();
                    selector = $('textarea[name="' + evalution_qid[i] + '"]');
                    comments = selector.val();
                } else if (type == "checkbox") {
                    response = $('input[name="' + evalution_qid[i] + '"]:checked').map(function () {
                        return $(this).val();
                    }).get().join();
                } else {
                    selector = $('textarea[name="' + evalution_qid[i] + '"]');
                    comments = selector.val();
                }
                //console.log(response);
                Group_Response["qid"] = evalution_qid[i];
                Group_Response["response"] = response;
                Group_Response["comments"] = comments;
                sumbit_data["ERs"].push(Group_Response);
            }
            console.log(sumbit_data);
            $.ajax({
                url: '@Url.Action("StudentGroupEvalution")',
                type: 'post',
                dataType: 'json',
                data: sumbit_data,
                success: function (response) {
                    // ... do something with the data...
                    window.location.href = response.redirectToUrl;
                }
            });
            return false;
        });
        function CodingWindow() {
            const myWindow = window.open('@Url.Action("CheckCoding", "Groups", new { cid = Model.CID })', "", "width=800,height=800");
        }
        function DrawingWindow() {
            const myWindow = window.open('@Url.Action("CheckDrawing", "Groups", new { cid = Model.CID })', "", "width=800,height=800");
        }
    </script>
}



