@model LMSweb.ViewModel.MissionViewModel
@{
    ViewBag.Title = "StudentMission";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
<div class="article">
    <h5>任務列表</h5>
    
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.missions.First().course.CName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.missions.First().Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.missions.First().End)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.missions.First().MName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.missions.First().MDetail)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.missions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.course.CName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Start)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.End)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MDetail)
                </td>
                <td>
                    @Html.ActionLink("進入任務", "Details", new { mid = item.MID }) 
                </td>
            </tr>
        }

    </table>

</div>
