@model LMSweb.ViewModel.EvalutionViewModel
@{
    ViewBag.Title = "StudentGroupEvalution";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
<style>
    .message-btn {
        position: fixed;
        width: 100px;
        height: 100px;
        right: 50px;
        bottom: 50px;
    }
</style>
<div class="cardArticle">
    <h4>@Model.CName</h4>
    <h4>@Model.GName</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("StudentMission","Student",new { CID = Model.CID})">任務列表</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("StudentMissionDetail", "Student", new { cid = Model.CID,mid = Model.MID})">@Model.MName</a></li>
            <li class="breadcrumb-item active" aria-current="page">組間互評</li>
        </ol>
    </nav>
</div>
<div class="article">

    <!--流程圖&程式碼顯示-->
    <h5>小組成果</h5>
    <div class="accordion mb-3">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    流程圖
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                    @if (Model.DrawingImgPath == null)
                    {
                        <p>學生尚未上傳流程圖</p>
                    }
                    else
                    {
                        <img src="~/UploadImages/@Model.DrawingImgPath" width="1060" />
                    }
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                    程式碼
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                    @if (Model.IsCodeImg && string.IsNullOrEmpty(Model.CodeText))
                    {
                        <img class="img-fluid" src="~/UploadCode/@Model.CodePath" />
                    }
                    else if (!Model.IsCodeImg && !string.IsNullOrEmpty(Model.CodeText))
                    {
                        <textarea class="form-control" rows="10" readonly>@Model.CodeText</textarea>
                    }
                    else
                    {
                        <p>學生尚未上傳程式碼</p>
                    }
                </div>
            </div>
        </div>
    </div>
    <!--評量尺規-->
    <h5>評量尺規</h5>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>評價維度</th>
                <th>配分</th>
                <th>評價標準描述</th>
                <th>非常好</th>
                <th>好</th>
                <th>一般</th>
                <th>較差</th>
                <th>非常差</th>
            </tr>
        </thead>
        <tbody style="background-color : white">
            <tr>
                <td>
                    正確性
                </td>
                <td>
                    40
                </td>
                <td>
                    運行流暢，結果正確，沒有語法錯誤。能準確的繪出解決問題的步驟。
                </td>
                <td>
                    5
                </td>
                <td>
                    4
                </td>
                <td>
                    3
                </td>
                <td>
                    2
                </td>
                <td>
                    1
                </td>
            </tr>
            <tr>
                <td>
                    邏輯性
                </td>
                <td>
                    40
                </td>
                <td>
                    結構清晰，邏輯正確，可有條理地呈現出解決問題的過程。
                </td>
                <td>
                    5
                </td>
                <td>
                    4
                </td>
                <td>
                    3
                </td>
                <td>
                    2
                </td>
                <td>
                    1
                </td>
            </tr>
            <tr>
                <td>
                    可讀性
                </td>
                <td>
                    20
                </td>
                <td>
                    命名及符號符合規範，容易理解。
                </td>
                <td>
                    5
                </td>
                <td>
                    4
                </td>
                <td>
                    3
                </td>
                <td>
                    2
                </td>
                <td>
                    1
                </td>
            </tr>
        </tbody>
    </table>
    <!--評論-->
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h5>組間互評</h5>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.CID)
            @Html.HiddenFor(model => model.MID)
            <table id="table_id" class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.GroupQuestion.First().Description)
                        </th>
                        <th>
                            分數
                        </th>
                    </tr>
                </thead>
                <tbody id="number">

                    @foreach (var Q in Model.GroupQuestion)
                    {
                        <tr>
                            <td>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Q.Description)
                            </td>
                            <td>
                                @if (Q.Type == "單選")
                                {
                                    foreach (var qo in Q.GroupOptions)
                                    {

                                        @*<input class="form-check-input" type="radio" value="" id="flexCheckDefault">@qo.OptionName*@
                                        @Html.RadioButton(Q.GQID.ToString(), qo.OptionNum, new { @class = "form-check-input", @required = "required" })
                                        @Html.Label(qo.OptionNum, new { @class = "form-check-label", @for = Q.GQID })

                                    }
                                }
                                else
                                {
                                    @*<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>*@
                                    @Html.TextArea(Q.GQID.ToString(), new { @class = "form-control", @rows = "3", @required = "required" })
                                }
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
            <div class="mb-3">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmModal">送出</button>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">送出確認</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            確定要送出嗎?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">再想想</button>
                            <input type="submit" value="送出" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>
<!-- 懸浮聊天室 -->
<body>
    @if (Model.IsDiscuss)
    {
        <button type="button" class="btn btn-primary rounded-circle message-btn" data-bs-toggle="offcanvas"
                data-bs-target="#messageBox" aria-controls="messageBox">
            討論區
        </button>
    }

    <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="messageBox" aria-labelledby="messageBoxLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="messageBoxLabel">聊天室</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <iframe src="@Url.Action("Chat","Student",new { MID = @Model.MID, CID = @Model.CID})" width="365" height="830" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>
@section scripts
{
    <script>
        var groupevalution_qid = @Html.Raw(@Json.Encode(Model.GroupQuestion.Select(q => q.GQID).ToList()));
        //console.log(evalution_qid);
        window.onload = function () {
            var tableLine = document.getElementById("number");
            for (var i = 0; i < tableLine.rows.length; i++) {
                tableLine.rows[i].cells[0].innerHTML = (i + 1);
            }
        }
        $("form").submit(function () {
            var sumbit_data = {};
            sumbit_data["CID"] = "@Model.CID";
            sumbit_data["MID"] = "@Model.MID";
            sumbit_data["GID"] = "@Model.GID";
            sumbit_data["GRs"] = [];
            for (var i = 0; i < groupevalution_qid.length; i++) {
                var Group_Response = {};
                var type = $('input[name="' + groupevalution_qid[i] + '"]').attr('type');
                //console.log(evalution_qid[i]);
                response = "";
                comments = "";
                if (type == "radio") {
                    response = $('input[name="' + groupevalution_qid[i] + '"]:checked').map(function () {
                        return $(this).val();
                    }).get().join();
                    selector = $('textarea[name="' + groupevalution_qid[i] + '"]');
                    comments = selector.val();
                } else if (type == "checkbox") {
                    response = $('input[name="' + groupevalution_qid[i] + '"]:checked').map(function () {
                        return $(this).val();
                    }).get().join();
                } else {
                    selector = $('textarea[name="' + groupevalution_qid[i] + '"]');
                    response = selector.val();
                }
                //console.log(response);
                Group_Response["qid"] = groupevalution_qid[i];
                Group_Response["response"] = response;
                sumbit_data["GRs"].push(Group_Response);
            }
            console.log(sumbit_data);
            $.ajax({
                url: '@Url.Action("StudentGroupEvalution")',
                type: 'post',
                dataType: 'json',
                data: sumbit_data,
                success: function (response) {
                    // ... do something with the data...
                    window.location.href = response.redirectToUrl;
                }
            });
            return false;
        });
        function CodingWindow() {
            const myWindow = window.open('@Url.Action("CheckCoding", "Groups", new { cid = Model.CID })', "", "width=800,height=800");
        }
        function DrawingWindow() {
            const myWindow = window.open('@Url.Action("CheckDrawing", "Groups", new { cid = Model.CID })', "", "width=800,height=800");
        }
    </script>
}



