@model LMSweb.ViewModel.MissionViewModel
@{
    ViewBag.Title = "StudentMDetailWindow";
    Layout = "~/Views/Shared/_WindowLayoutPage.cshtml";
}
<style>
    table {
        border-collapse: collapse;
        /*margin: 10px auto;*/
    }

        table tr {
            border-bottom: solid 2px #F0F0F2;
        }

    th {
        background-color: cadetblue;
        color: #F0F0F2;
        text-align: center;
        padding: 10px 0;
        width: 50%;
    }

    td {
        padding: 10px 10px;
    }

    .MissionDetailArticle {
        position: relative;
        display: block;
        box-sizing: border-box;
        width: 100%;
        max-width: 1200px;
        margin: 20px auto 20px;
        padding: 30px 0px 50px 70px;
        border-radius: 5px;
        background: #F0F0F2;
        border: 1px solid #dee2e6;
        border-color: #cdcdcd;
    }
</style>

<div class="article">
    <h5>任務內容</h5>
    <hr />
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.mis.course.CName)
            </th>
            <td>
                @Html.DisplayFor(model => model.mis.course.CName)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.mis.Start)
            </th>
            <td>
                @Html.DisplayFor(model => model.mis.Start)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.mis.End)
            </th>
            <td>
                @Html.DisplayFor(model => model.mis.End)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.mis.MName)
            </th>
            <td>
                @Html.DisplayFor(model => model.mis.MName)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.mis.MDetail)
            </th>
            <td>
                @Html.DisplayFor(model => model.mis.MDetail)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.mis.relatedKP)
            </th>
            <td>
                @foreach (var kp in Model.KContents)
                {
                    @kp
                    <br>
                }
            </td>
        </tr>
    </table>
</div>
