@model LMSweb.ViewModel.MissionViewModel
@{
    ViewBag.Title = "StudentMission";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
<div class="cardArticle">
    <h4>@Model.CName</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">任務列表</li>

        </ol>
    </nav>
</div>
<div class="article">
    <h5>任務列表</h5>
    @if (Model.missions == null || Model.missions.Count() == 0)
    {
        <p>目前還沒有任務哦~</p>
    }
    else
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>
                        @Html.DisplayNameFor(model => model.missions.First().MName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.missions.First().MDetail)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.missions.First().Start)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.missions.First().End)
                    </th>


                    <th></th>
                </tr>
            </thead>
            <tbody id="number">
                @foreach (var item in Model.missions)
                {
                    <tr>
                        <td>

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MName)
                        </td>
                        <td class="col-4">
                            @Html.DisplayFor(modelItem => item.MDetail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Start)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.End)
                        </td>
                        <td class="d-grid gap-2 d-md-flex justify-content-md-end">
                            @if (DateTime.Compare(DateTime.Parse(item.End), DateTime.Now) > 0)
                            {
                                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("StudentMissionDetail","Student", new {sid = Model.SID, mid = item.MID, cid = item.CID, gid = Model.GID})'">
                                    進入任務<i class="bi bi-arrow-right"></i>
                                </button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-secondary" disabled="disabled" onclick="location.href='@Url.Action("StudentMissionDetail","Student", new {sid = Model.SID, mid = item.MID, cid = item.CID, gid = Model.GID})'">
                                    任務已到期
                                </button>
                            }

                        </td>
                    </tr>
                }
            </tbody>

            

        </table>
    }
</div>
@section scripts
{
    <script>
        window.onload = function () {
            var tableLine = document.getElementById("number");
            for (var i = 0; i < tableLine.rows.length; i++) {
                tableLine.rows[i].cells[0].innerHTML = (i + 1);
            }
        }
    </script>

}
