@model LMSweb.ViewModel.EvalutionViewModel
@{
    ViewBag.Title = "StudentPeerER";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
<div class="cardArticle">
    <h4>@Model.CName</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("StudentMission","Student",new { CID = Model.CID})">任務列表</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("StudentMissionDetail", "Student", new { cid = Model.CID,mid = Model.MID})">任務內容</a></li>
            <li class="breadcrumb-item active" aria-current="page">同儕互評</li>
        </ol>
    </nav>
</div>
<div class="article">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h5>同儕互評</h5>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.CID)
            @Html.HiddenFor(model => model.MID)
            <table id="table_id" class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Questions.First().Description)
                        </th>
                        <th>
                            分數
                        </th>
                        <th>
                            評語
                        </th>
                    </tr>
                </thead>
                <tbody id="number">
                    @foreach (var Q in Model.Questions)
                    {
                        <tr>
                            <td>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Q.Description)
                            </td>
                            <td>
                                @foreach (var qo in Q.EvalutionResponses)
                                {
                                    if (qo.SID == Model.SID && qo.EvaluatorSID == Model.EvaluatorSID)
                                    {
                                        @qo.Answer
                                    }
                                }
                            </td>
                            <td>
                                @foreach (var qo in Q.EvalutionResponses)
                                {
                                    if (qo.SID == Model.SID && qo.EvaluatorSID == Model.EvaluatorSID)
                                    {
                                        @qo.Comments
                                    }

                                }
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    }

</div>
@section scripts
{
    <script>
        var evalution_qid = @Html.Raw(@Json.Encode(Model.Questions.Select(q => q.QID).ToList()));
        //console.log(questions_qid);
        window.onload = function () {
            var tableLine = document.getElementById("number");
            for (var i = 0; i < tableLine.rows.length; i++) {
                tableLine.rows[i].cells[0].innerHTML = (i + 1);
            }
        }
        $("form").submit(function () {
            var sumbit_data = {};
            sumbit_data["CID"] = "@Model.CID";
            sumbit_data["MID"] = "@Model.MID";
            sumbit_data["QRs"] = [];
            for (var i = 0; i < evalution_qid.length; i++) {
                var Evalution_Response = {};
                var type = $('input[name="' + evalution_qid[i] + '"]').attr('type');
                //console.log(questions_qid[i]);
                response = "";
                if (type == "radio") {
                    response = $('input[name="' + evalution_qid[i] + '"]:checked').map(function () {
                        return $(this).val();
                    }).get().join();
                    selector = $('textarea[name="' + evalution_qid[i] + '"]');
                    response = selector.val();
                } else if (type == "checkbox") {
                    response = $('input[name="' + evalution_qid[i] + '"]:checked').map(function () {
                        return $(this).val();
                    }).get().join();
                } else {
                    selector = $('textarea[name="' + evalution_qid[i] + '"]');
                    response = selector.val();
                }
                //console.log(response);
                Evalution_Response["qid"] = evalution_qid[i];
                Evalution_Response["response"] = response;
                Evalution_Response["comments"] = comments;
                Evalution_Response["sid"] = "@Model.SID";
                sumbit_data["ERs"].push(Evalution_Response);
            }
            console.log(sumbit_data);
            $.ajax({
                url: '@Url.Action("StudentPeerEvalution")',
                type: 'post',
                dataType: 'json',
                data: sumbit_data,
                success: function (response) {
                    // ... do something with the data...
                    window.location.href = response.redirectToUrl;

                }
            });
            return false;
        });
    </script>
}