@model IEnumerable<LMSweb.Models.Student>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div class="article">
    <h5>
        課程列表
    </h5>
    <div>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.course.CName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.course.teacher)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.course.CName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.course.teacher.TName)
                    </td>
                    <td>
                        @Html.ActionLink("進入課程", "StudentMission", new { cid = item.CID })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>