@model LMSweb.ViewModel.MissionViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}
<style>
    table {
        border-collapse: collapse;
        /*margin: 10px auto;*/
    }

        table tr {
            border-bottom: solid 2px #F0F0F2;
        }

    th {
        background-color: cadetblue;
        color: #F0F0F2;
        text-align: center;
        padding: 10px 0;
        width: 50%;
    }

    td {
        padding: 10px 10px;
    }

    .MissionDetailArticle {
        position: relative;
        display: block;
        box-sizing: border-box;
        width: 100%;
        max-width: 1200px;
        margin: 20px auto 20px;
        padding: 30px 0px 50px 70px;
        border-radius: 5px;
        background: #F0F0F2;
        border: 1px solid #dee2e6;
        border-color: #cdcdcd;
    }
</style>
<div class="cardArticle">
    <h4>@Model.CName</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Missions", new { CID = Model.CID})">任務列表</a></li>
            <li class="breadcrumb-item active" aria-current="page">任務內容</li>
        </ol>
    </nav>
</div>
<div class="MissionDetailArticle">
    <div>
        <div class="row">
            <div class="col-8">
                <h5><b>@Html.DisplayFor(model => model.mis.MName)</b></h5>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index","Groups",new { mid = Model.MID, cid=Model.CID })'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                        <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />
                    </svg>
                    學生作業
                </button>
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Edit", "Missions", new {  mid = Model.MID, cid = Model.CID})'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                    </svg>
                    編輯任務內容
                </button>
            </div>
        </div>
        
        <br />
        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.mis.MDetail)
                </th>
                <td>
                    @Html.DisplayFor(model => model.mis.MDetail)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.mis.Start)
                </th>
                <td>
                    @Html.DisplayFor(model => model.mis.Start)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.mis.End)
                </th>
                <td>
                    @Html.DisplayFor(model => model.mis.End)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.mis.relatedKP)
                </th>
                <td>
                    @foreach (var kp in Model.KContents)
                    {
                        @kp
                        <br>
                    }
                </td>
            </tr>
        </table>
        <br />
        <div class="mb-3">
            後設認知開啟/關閉 : 
            @if (Model.mis.AddMetacognition)  //true
            {
                <button type="button" class="btn btn-primary" id="is_AddMeta">後設認知狀態 : 開啟</button>
            }
            else   //false
            {
                <button type="button" class="btn btn-secondary" id="is_AddMeta">後設認知狀態 : 關閉</button>
            }
        </div>
        <div class="mb-3">
            題目設置 :
            <button type="button" class="btn btn-outline-dark" id="question" onclick="location.href='@Url.Action("Index","Questions",new { mid = Model.MID, cid=Model.CID })'">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-card-list" viewBox="0 0 16 16">
                    <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
                    <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z" />
                </svg>
                後設認知題目
            </button>
            <button type="button" class="btn btn-outline-dark" onclick="location.href='@Url.Action("PersonalAbility","Questions",new { mid = Model.MID, cid=Model.CID })'">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-card-list" viewBox="0 0 16 16">
                    <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
                    <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z" />
                </svg>
                自評互評題目
            </button>
        </div>
        <div class="mb-3">
            功能開啟/關閉 :
            @if (Model.mis.AddMetacognition)
            {
                if (Model.mis.IsGoalSetting)
                {
                    <button type="button" class="btn btn-primary" id="is_Goalsetting">目標設定狀態 : 開啟</button>
                }
                else
                {
                    <button type="button" class="btn btn-secondary" id="is_Goalsetting">目標設定狀態 : 關閉</button>
                }
            }
            else
            {
                <button type="button" class="btn btn-primary" id="is_Goalsetting" hidden>目標設定狀態 : 開啟</button>
            }

            @if (Model.mis.IsDiscuss)
            {
                <button type="button" class="btn btn-primary" id="is_Discuss">討論區狀態 : 開啟</button>
            }
            else
            {
                <button type="button" class="btn btn-secondary" id="is_Discuss">討論區狀態 : 關閉</button>
            }
            @if (Model.mis.IsDrawing)
            {
                <button type="button" class="btn btn-primary" id="is_Drawing">流程圖狀態 : 開啟</button>
            }
            else
            {
                <button type="button" class="btn btn-secondary" id="is_Drawing">流程圖狀態 : 關閉</button>
            }
            @if (Model.mis.IsCoding)
            {
                <button type="button" class="btn btn-primary" id="is_Coding">程式碼狀態 : 開啟</button>
            }
            else
            {
                <button type="button" class="btn btn-secondary" id="is_Coding">程式碼狀態 : 關閉</button>
            }
            @if (Model.mis.IsAssess)
            {
                <button type="button" class="btn btn-primary" id="is_Assess">評價狀態 : 開啟</button>
            }
            else
            {
                <button type="button" class="btn btn-secondary" id="is_Assess">評價狀態 : 關閉</button>
            }
            @if (Model.mis.AddMetacognition)
            {
                if (Model.mis.IsReflect)
                {
                    <button type="button" class="btn btn-primary" id="is_Reflect">自我反思狀態 : 開啟</button>
                }
                else
                {
                    <button type="button" class="btn btn-secondary" id="is_Reflect">自我反思狀態 : 關閉</button>
                }
            }
            else
            {
                <button type="button" class="btn btn-secondary" id="is_Reflect" hidden>自我反思狀態 : 關閉</button>
            }

        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $("#is_Drawing").click(function () {
            var data = {};
            data['mid'] = '@Model.MID';
            data['cid'] = '@Model.CID';
            data['type'] = "is_Drawing";
            data['sw'] = $("#is_Drawing").text().trim() == "流程圖狀態 : 關閉" ? true : false;
            //console.log(data);
            $.ajax({
                url: '@Url.Action("SwitchDrawing")',
                type: 'post',
                dataType: 'json',
                data: data,
                success: function (response_data) {
                    // ... do something with the data...
                    console.log(response_data);
                    if (response_data['Status'] == 200) {
                        $("#is_Drawing").removeClass();

                        if (response_data['sw'] == false) {
                            $("#is_Drawing").text("流程圖狀態 : 關閉");
                            $("#is_Drawing").addClass("btn btn-secondary");

                        } else {
                            $("#is_Drawing").text("流程圖狀態 : 開啟");
                            $("#is_Drawing").addClass("btn btn-primary");

                        }
                    }
                }
            });
        });
        $("#is_Coding").click(function () {
            var data = {};
            data['mid'] = '@Model.MID';
            data['cid'] = '@Model.CID';
            data['type'] = "is_Coding";
            data['sw'] = $("#is_Coding").text().trim() == "程式碼狀態 : 關閉" ? true : false;
            //console.log(data);
            $.ajax({
                url: '@Url.Action("SwitchDrawing")',
                type: 'post',
                dataType: 'json',
                data: data,
                success: function (response_data) {
                    // ... do something with the data...
                    console.log(response_data);
                    if (response_data['Status'] == 200) {
                        $("#is_Coding").removeClass();

                        if (response_data['sw'] == false) {
                            $("#is_Coding").text("程式碼狀態 : 關閉");
                            $("#is_Coding").addClass("btn btn-secondary");
                        } else {
                            $("#is_Coding").text("程式碼狀態 : 開啟");
                            $("#is_Coding").addClass("btn btn-primary");
                        }
                    }
                }
            });
        });
        $("#is_Discuss").click(function () {
            var data = {};
            data['mid'] = '@Model.MID';
            data['cid'] = '@Model.CID';
            data['type'] = "is_Discuss";
            data['sw'] = $("#is_Discuss").text().trim() == "討論區狀態 : 關閉" ? true : false;
            //console.log(data);
            $.ajax({
                url: '@Url.Action("SwitchDrawing")',
                type: 'post',
                dataType: 'json',
                data: data,
                success: function (response_data) {
                    // ... do something with the data...
                    console.log(response_data);
                    if (response_data['Status'] == 200) {
                        $("#is_Discuss").removeClass();

                        if (response_data['sw'] == false) {
                            $("#is_Discuss").text("討論區狀態 : 關閉");
                            $("#is_Discuss").addClass("btn btn-secondary");
                        } else {
                            $("#is_Discuss").text("討論區狀態 : 開啟");   //狀態為開啟
                            $("#is_Discuss").addClass("btn btn-primary");
                        }
                    }
                }
            });
        });
        $("#is_Assess").click(function () {
            var data = {};
            data['mid'] = '@Model.MID';
            data['cid'] = '@Model.CID';
            data['type'] = "is_Assess";
            data['sw'] = $("#is_Assess").text().trim() == "評價狀態 : 關閉" ? true : false;
            //console.log(data);
            $.ajax({
                url: '@Url.Action("SwitchDrawing")',
                type: 'post',
                dataType: 'json',
                data: data,
                success: function (response_data) {
                    // ... do something with the data...
                    console.log(response_data);
                    if (response_data['Status'] == 200) {
                        $("#is_Assess").removeClass();

                        if (response_data['sw'] == false) {
                            $("#is_Assess").text("評價狀態 : 關閉");
                            $("#is_Assess").addClass("btn btn-secondary");
                        } else {
                            $("#is_Assess").text("評價狀態 : 開啟");   //狀態為開啟
                            $("#is_Assess").addClass("btn btn-primary");
                        }
                    }
                }
            });
        });
        $("#is_Goalsetting").click(function () {
            var data = {};
            data['mid'] = '@Model.MID';
            data['cid'] = '@Model.CID';
            data['type'] = "is_Goalsetting";
            data['sw'] = $("#is_Goalsetting").text().trim() == "目標設定狀態 : 關閉" ? true : false;
            //console.log(data);
            $.ajax({
                url: '@Url.Action("SwitchDrawing")',
                type: 'post',
                dataType: 'json',
                data: data,
                success: function (response_data) {
                    // ... do something with the data...
                    console.log(response_data);
                    if (response_data['Status'] == 200) {
                        $("#is_Goalsetting").removeClass();

                        if (response_data['sw'] == false) {
                            $("#is_Goalsetting").text("目標設定狀態 : 關閉");
                            $("#is_Goalsetting").addClass("btn btn-secondary");
                        } else {
                            $("#is_Goalsetting").text("目標設定狀態 : 開啟");   //狀態為開啟
                            $("#is_Goalsetting").addClass("btn btn-primary");
                        }
                    }
                }
            });
        });
        $("#is_Reflect").click(function () {
            var data = {};
            data['mid'] = '@Model.MID';
            data['cid'] = '@Model.CID';
            data['type'] = "is_Reflect";
            data['sw'] = $("#is_Reflect").text().trim() == "自我反思狀態 : 關閉" ? true : false;
            //console.log(data);
            $.ajax({
                url: '@Url.Action("SwitchDrawing")',
                type: 'post',
                dataType: 'json',
                data: data,
                success: function (response_data) {
                    // ... do something with the data...
                    console.log(response_data);
                    if (response_data['Status'] == 200) {
                        $("#is_Reflect").removeClass();

                        if (response_data['sw'] == false) {
                            $("#is_Reflect").text("自我反思狀態 : 關閉");
                            $("#is_Reflect").addClass("btn btn-secondary");
                        } else {
                            $("#is_Reflect").text("自我反思狀態 : 開啟");   //狀態為開啟
                            $("#is_Reflect").addClass("btn btn-primary");
                        }
                    }
                }
            });
        });
        $("#is_AddMeta").click(function () {
            var data = {};
            data['mid'] = '@Model.MID';
            data['cid'] = '@Model.CID';
            data['type'] = "is_AddMeta";
            data['sw'] = $("#is_AddMeta").text().trim() == "後設認知狀態 : 關閉" ? true : false;
            //console.log(data);
            $.ajax({
                url: '@Url.Action("SwitchDrawing")',
                type: 'post',
                dataType: 'json',
                data: data,
                success: function (response_data) {
                    // ... do something with the data...
                    console.log(response_data);
                    if (response_data['Status'] == 200) {
                        $("#is_AddMeta").removeClass();

                        if (response_data['sw'] == false) {
                            $("#is_AddMeta").text("後設認知狀態 : 關閉");
                            $("#is_AddMeta").addClass("btn btn-secondary");
                            $("#question").attr('hidden', true);
                            $("#is_Goalsetting").attr('hidden', true);
                            $("#is_Reflect").attr('hidden', true);
                        } else {
                            $("#is_AddMeta").text("後設認知狀態 : 開啟");   //狀態為開啟
                            $("#is_AddMeta").addClass("btn btn-primary");
                            $("#question").attr('hidden', false);
                            $("#is_Goalsetting").attr('hidden', false);
                            $("#is_Reflect").attr('hidden', false);
                        }
                    }
                }
            });
        });
    </script>
}


