@model LMSweb.ViewModel.MissionViewModel


@{ 
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}
<div class="article">
    <p>
        @*@Html.ActionLink("新增任務", "Create", new { CID = Model.CID, CName = Model.CName })*@
        <input type="button" class="btn btn-primary" value="新增任務" onclick="location.href='@Url.Action("Create", "Missions", new { CID = Model.mis.CID })'" />
        <input type="button" class="btn btn-primary" value="選擇任務" onclick="location.href='@Url.Action("SelectMissions", "Missions", new { CID = Model.mis.CID })'" />
    </p>
    @if (Model.missions == null || Model.missions.Count() == 0)
    {
        <p>目前還沒有新增任務哦~</p>
    }
    else
    {
        <h5>任務列表</h5>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.missions.First().course.CName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.missions.First().Start)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.missions.First().End)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.missions.First().MName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.missions.First().MDetail)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.missions)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.course.CName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Start)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.End)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MDetail)
                    </td>
                    <td>
                        @Html.ActionLink("進入任務", "Details", new { mid = item.MID }) |
                        @Html.ActionLink("編輯", "Edit", new { mid = item.MID }) |
                        @Html.ActionLink("刪除", "Delete", new { mid = item.MID }) |
                        @Html.ActionLink("新增知識點關聯", "Create","KnowledgePoints", new { mid = item.MID })
                    </td>
                </tr>
            }

        </table>
    }



</div>
