@model LMSweb.ViewModel.MissionViewModel
@{ 
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<div class="article">
    <h5>任務列表</h5>
    <p>

        <button class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Missions", new { CID = Model.CID})'">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
            </svg>
            新增任務
        </button>
        
        <button class="btn btn-primary" onclick="location.href='@Url.Action("SelectMissions", "Missions", new { CID = Model.CID })'">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-files" viewBox="0 0 16 16">
                <path d="M13 0H6a2 2 0 0 0-2 2 2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 13V4a2 2 0 0 0-2-2H5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1zM3 4a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4z" />
            </svg>
            複製任務
        </button>
</p>
    @if (Model.CID == null || Model.CID.Count() == 0)
    {
        <p>目前還沒有新增任務哦~</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.missions.First().MName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.missions.First().Start)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.missions.First().End)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.missions.First().MDetail)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.missions)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.MName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Start)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.End)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MDetail)
                        </td>
                        <td>
                            @Html.ActionLink("進入任務", "Details", new { mid = item.MID }) |
                            @Html.ActionLink("編輯", "Edit", new { mid = item.MID, cid = item.CID }) |
                            @Html.ActionLink("刪除", "Delete", new { mid = item.MID, cid = item.CID })
                        </td>
                    </tr>
                }
            </tbody>

            

        </table>
    }



</div>
