@model  LMSweb.ViewModel.MissionViewModel
@{
    ViewBag.Title = "SelectMission";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}
<div class="cardArticle">
    <h4>@Model.CName</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Missions", new { CID = Model.CID})">任務列表</a></li>
            <li class="breadcrumb-item active" aria-current="page">複製任務</li>
        </ol>
    </nav>
</div>
<div class="article">
    <h4><b>複製任務</b></h4>
    <hr />
    <table id="table_id" class="table table-striped">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.missions.First().course.CName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.missions.First().MName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.missions.First().MDetail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.missions.First().Start)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.missions.First().End)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="number">
            @foreach (var item in Model.missions)
            {
                <tr>
                    <td >
                    </td>
                    <td class="col-2">
                        @Html.DisplayFor(modelItem => item.course.CName)
                    </td>
                    <td class="col-2">
                        @Html.DisplayFor(modelItem => item.MName)
                    </td>
                    <td class="col-4">
                        @Html.DisplayFor(modelItem => item.MDetail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Start)
                    </td>
                    <td> 
                        @Html.DisplayFor(modelItem => item.End)
                    </td>
                    <td>
                        <button class="btn btn-primary" onclick="location.href='@Url.Action("AddMissions", "Missions", new { mid = item.MID, cid = Model.CID})'">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                            </svg>
                        </button>
                    </td>
                </tr>
            }
        </tbody>



    </table>

</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table_id').DataTable();
        });
        window.onload = function () {
            var tableLine = document.getElementById("number");
            for (var i = 0; i < tableLine.rows.length; i++) {
                tableLine.rows[i].cells[0].innerHTML = (i + 1);
            }
        }
    </script>
}