@model LMSweb.ViewModel.CourseViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        
    </style>

</head>
<body>
    <div class="article">
        <h4>@(Model.CName)</h4>
        <table class="table">
            <tr>
                <th>
                    知識點
                </th>
                
                <th></th>
            </tr>

            @foreach (var item in Model.kps)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.KContent)
                    </td>
                    
                    <td>
                        @Html.ActionLink("編輯", "Edit", "KnowledgePoints", new { kid = item.KID}, null) |
                        @Html.ActionLink("刪除", "Delete", "KnowledgePoints", new { kid = item.KID }, null)
                    </td>
                </tr>
            }

        </table>
        <hr />
        @Html.HiddenFor(model => model.CID, htmlAttributes: new { @value = Model.CID })
        @*<p>
            @Html.ActionLink("新增知識點", "Create", "KnowledgePoints", new { cid = Model.CID }, null) |
            @Html.ActionLink("編輯", "Edit", new { cid = Model.CID }) |
            @Html.ActionLink("返回", "Index")
        </p>*@

    </div>
</body>

