@model LMSweb.ViewModel.CourseViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        
    </style>

</head>
<body>
    <div class="article">
        <h4>@(Model.CName)</h4>

        <hr />

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.knowledgePoint.KContent)
                </th>
                <th></th>
            </tr>

            @*@foreach (var item in Model.kps)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.KID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.KID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.KID })
                    </td>
                </tr>
            }*@

            @*<div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.knowledgePoint.KContent)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.knowledgePoint.KContent)
                    </dd>
                </dl>
            </div>*@


            <p>
                @Html.ActionLink("編輯", "Edit", new { cid = Model.CID }) |
                @Html.ActionLink("返回", "Index")
            </p>
        </table>
    </div>
</body>

