@model LMSweb.ViewModel.CourseViewModel


@{
    Layout = "~/Views/Shared/_CoursesLayout.cshtml";
}

<div class="article">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="https://localhost:44301/Course/StudentManagement?CID=@Model.CID">修課名單</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://localhost:44301/Course/StudentGroup?CID=@Model.CID">分組名單</a>
        </li>

    </ul>

    <br />
    <p>
        <input type="button" class="btn btn-primary" value="匯入資料" data-target="#UploadModal" data-toggle="modal" onclick="UploadModal()" />
        <input type="button" class="btn btn-primary" value="新增學生" onclick="location.href='@Url.Action("Stu_Create", "Course")'" />
    </p>
    @*<div style="position: relative">*@

    <!--<div class="well">
        <button class="btn btn-primary" data-toggle="modal" data-target="#UploadModal">
            匯入資料
        </button>
    </div>
    <p style="position:absolute; left:100px;top:0">-->
    @*@Html.ActionLink("新增學生", "Stu_Create", new { @class = "btn btn-primary" })*@
    <!--<input type="button" class="btn btn-primary" value="新增學生" onclick="location.href='@Url.Action("Stu_Create", "Course")'" />
        </p>
    </div>-->

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.students.First().SName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.students.First().Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.students.First().Stage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.students.First().Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.students.First().Score)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.students)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Score)
                </td>
                <td>
                    @Html.ActionLink("編輯", "Stu_Edit", new { sid = item.SID, cid = item.CID }) |
                    @Html.ActionLink("詳細資料", "Stu_Details", new { sid = item.SID, cid = item.CID }) |
                    @Html.ActionLink("刪除", "Stu_Delete", new { sid = item.SID, cid = item.CID })
                </td>
            </tr>
        }

    </table>

    @Html.Partial("_UploadFile")

    @section scripts
    {
        <script src="~/Scripts/bootbox.js"></script>
        <script src="~/Scripts/jquery.form.js"></script>
        <script src="~/Scripts/fileinput.min.js"></script>
        <script src="~/Scripts/locales/zh-TW.js"></script>
        <script src="~/Content/bootstrap-fileinput/themes/fa/theme.js"></script>
        @*<script src="~/Scripts/LMS.Student.js"></script>*@

        <script>
        $(function () {
            $("#file").fileinput({
                //uploadUrl: "../fileinfo/save", // server upload action
                theme: 'fa',
                language: 'zh-TW',
                uploadUrl: '@Url.Action("Upload", "Course", new { CID = Model.CID})',
                textEncoding: 'utf-8',
                required: true,
                showBrowse: true,
                browseOnZoneClick: true,
                dropZoneEnabled: true,
                allowedFileExtensions: ["xls", "xlsx"],//只能選擇xls,和xlsx格式的檔案提交
                //maxFileSize: 0,//單位為kb，如果為0表示不限制檔案大小
                /*不同檔案圖示配置*/
                previewFileIconSettings: {
                    'docx': '<i class="fa fa-file-word-o text-primary" ></i>',
                    'xlsx': '<i class="fa fa-file-excel-o text-success"></i>',
                    'pptx': '<i class="fa fa-file-powerpoint-o text-danger"></i>',
                    'jpg': '<i class="fa fa-file-photo-o text-warning"></i>',
                    'pdf': '<i class="fa fa-file-pdf-o text-danger"></i>',
                    'zip': '<i class="fa fa-file-archive-o text-muted"></i>',
                    'doc': '<i class="fa fa-file-word-o text-primary"></i>',
                    'xls': '<i class="fa fa-file-excel-o text-success"></i>',
                    'ppt': '<i class="fa fa-file-powerpoint-o text-danger"></i>',
                    'pdf': '<i class="fa fa-file-pdf-o text-danger"></i>',
                    'zip': '<i class="fa fa-file-archive-o text-muted"></i>',
                    'htm': '<i class="fa fa-file-code-o text-info"></i>',
                    'txt': '<i class="fa fa-file-text-o text-info"></i>',
                    'mov': '<i class="fa fa-file-movie-o text-warning"></i>',
                    'mp3': '<i class="fa fa-file-audio-o text-warning"></i>',
                    'jpg': '<i class="fa fa-file-photo-o text-danger"></i>',
                    'gif': '<i class="fa fa-file-photo-o text-muted"></i>',
                    'png': '<i class="fa fa-file-photo-o text-primary"></i>'
                },
                layoutTemplates: { actionUpload: '' },
                /*上傳成功之後執行*/
                fileuploaded: $("#file").on("fileuploaded", function (event, data, previewId, index) {
                    alert("新增成功")
                    location.reload();
                }),

                /*上傳出錯誤處理*/
                fileerror: $('#file').on('fileerror', function (event, data, msg) {
                }),

            });
            @*Import: '@Url.Action("Import", "Student")'*@
        });
        </script>
    }
</div>