@model LMSweb.ViewModel.StudentSurveyViewModel
@{
    ViewBag.Title = "StudentSurvey";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}
<div class="cardArticle">
    <h4>@Model.CName</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Missions", new { CID = Model.CID})">任務列表</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Details", "Missions", new { mid = Model.MID, cid = Model.CID})">@Model.MName</a></li>
            <li class="breadcrumb-item active" aria-current="page">學生問卷答題</li>
        </ol>
    </nav>
</div>
<div class="article">
    <h5>學生問卷答題</h5>
    <hr />
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    學生姓名
                </th>
                <th>
                    目標設置
                </th>
                <th>
                    自評互評
                </th>
                <th>
                    組間互評
                </th>
                <th>
                    自我反思
                </th>
            </tr>
        </thead>
        <tbody id="number">
            @foreach (var item in Model.Students)
            {
                <tr>
                    <td>
                    </td>
                    <td>
                        @item.SName
                    </td>
                    <td>

                        @if (Model.IsGoalSetting)
                        {
                            if (Model.gsResponses.Where(r => r.SID == item.SID && r.MID == Model.MID).Count() != 0)
                            {
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                                </svg>
                            }
                        }
                    </td>
                    <td>
                        @if (Model.IsSPEvalution)
                        {
                            if (Model.eResponses.Where(e => e.EvaluatorSID == item.SID && e.MID == Model.MID).Count() != 0)
                            {
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                                </svg>
                            }
                        }
                    </td>
                    <td>
                        @if (Model.IsGroupEvalution)
                        {
                            if (Model.gResponses.Where(g => g.EvaluatorSID == item.SID && g.MID == Model.MID).Count() != 0)
                            {
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                                </svg>
                            }
                        }
                    </td>
                    <td>

                        @if (Model.IsReflection)
                        {
                            if (Model.reResponses.Where(r => r.SID == item.SID && r.MID == Model.MID).Count() != 0)
                            {
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                                </svg>
                            }
                        }
                    </td>

                </tr>

            }
        </tbody>
    </table>
</div>
@section scripts
{
    <script>
        window.onload = function () {
            var tableLine = document.getElementById("number");
            for (var i = 0; i < tableLine.rows.length; i++) {
                tableLine.rows[i].cells[0].innerHTML = (i + 1);
            }
        }
    </script> 
}