@model LMSweb.Models.Student

@{
    ViewBag.Title = "Delete";

}
<div class="article">
    <h2>刪除</h2>

    <div>
        <h4>Student</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.SName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SPassword)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SPassword)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Sex)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Sex)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Score)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Score)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-primary" /> |
                @Html.ActionLink("返回學生名單", "Stu_Index")
            </div>
        }
    </div>

</div>
