@model LMSweb.ViewModel.GroupCreateViewModel

@{
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}
<div class="cardArticle">
    <h4>@Model.CName</h4>
    <p>學生分組</p>
</div>
<div class="card " style="box-sizing: border-box; width: 100%; max-width: 1200px; margin: 20px auto 20px; border-radius: 5px; border: 1px solid #dee2e6; border-color: #cdcdcd;">

    <div class="card-header" style="padding: 30px 50px 8px 50px;">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">   
                <a class="nav-link " href="https://localhost:44301/Course/StudentManagement?CID=@Model.CID"><h5>修課名單</h5></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="true" href="https://localhost:44301/Course/StudentGroup?CID=@Model.CID"><h5>分組名單</h5></a>
            </li>
        </ul>
    </div>

    <br />
    <div class="card-body" style="padding: 20px 50px 50px;">
        <div class="mb-3">
            <label>
                分組數量 : 
                <input type="text" min="1" max="10" placeholder="需要分成多少組" v-model="groupNum" id="groupN" />
            </label>
            <button class="btn btn-primary" id="groupclick">隨機分組</button>
        </div>
        

        <div class="row">
            <div class="col-sm-6">

                <div class="card">
                    <div class="card-header">
                        <div class="row justify-content-between">
                            <div class="col-4">
                                未分組名單
                            </div>
                            <div class="col-3">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">新增組別</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-check">
                            <div class="custom-control custom-checkbox container">
                                @for (int i = 0; i < Model.StudentList.Count(); i++)
                                {
                                    if (i % 2 == 0)
                                    {
                                        @:<div class="row">
                                        }
                                        <input class="col-sm-2 check_student" style="margin-top:5px;" type="checkbox" id="@Model.StudentList[i].Text" name="all_student" value="@Model.StudentList[i].Value">
                                        <label class="w-25 h-auto">@Model.StudentList[i].Text</label>
                                        if (i % 2 == 1 || i == Model.StudentList.Count() - 1)
                                        {
                                        @:</div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        已分組名單
                    </div>
                    <div class="card-body">
                        @*<button class="btn btn-primary" id="btn">新增組別</button>*@
                        
                        <br />
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">新增組別</h5>
                                        <button type="button" class="btn-close" aria-label="Close" aria-hidden="true" data-bs-dismiss="modal"></button>
                                        @*<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>*@
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-group">
                                                <label for="group_name" class="col-form-label">組別名稱</label>
                                                <input type="text" class="form-control" id="group_name">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-group">
                                                <label for="group_name" class="col-form-label">已選組員</label>
                                                <br />
                                                <label id="selected_students">

                                                </label>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" aria-hidden="true" data-bs-dismiss="modal">關閉</button>
                                        <button type="button" class="btn btn-primary" id="alert">創建</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @foreach (var item in Model.groups)
                        {

                            <div class="card">

                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-8">
                                            <p id="existedGroup_name">@Html.DisplayFor(modelItem => item.GName)</p>
                                        </div>
                                        <div class="col-3">

                                            <button type="button" class="btn btn-primary addGbtn" id="@item.GID">
                                                加入組別
                                            </button>

                                        </div>
                                        <div class="col-1">
                                            <button type="button" class="btn-close groupclose" aria-label="btn-Close" aria-hidden="true" id="@item.GID">
                                                @*<span >&times;</span>*@
                                            </button>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="card-body">
                                    @foreach (var stu in item.Students)
                                    {
                                        <div class="row justify-content-between">
                                            <div class="col-4">
                                                <p>@Html.DisplayFor(sid => stu.SName) &ensp;</p>
                                            </div>
                                            <div class="col-1">
                                                <button type="button" class="btn-close stuclose" aria-label="Close" aria-hidden="true" id="@stu.SID">
                                                    @*<span >&times;</span>*@
                                                </button>
                                            </div>
                                        </div>
                                        
                                        
                                    }
                                </div>

                            </div>
                            <br />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    @*<script type="text/javascript" src="../jquery/jquery.js"></script>
        <script type="text/javascript" src="../jquery/jquery-ui.js"></script>*@
@section scripts {
    <script>
    $('#exampleModal').on('show.bs.modal', function (event) {     //將選取的學生顯示在Modal上
        var button = $(event.relatedTarget) // Button that triggered the modal
        //var recipient = button.data('whatever') // Extract info from data-* attributes
        var modal = $(this)
        var text = ''
        $("input[name='all_student']").each(function () {
            if ($(this).prop("checked")) {
                text += $(this).attr('id') + '<br/>';

                // get val use " $(this).val() "
            }
        });


        modal.find('#selected_students').html(text)
        //modal.find('#selected_students').append(text)

        //modal.find('.modal-title').text('New message to ' + '123123')
        //modal.find('.modal-title').text('New message to ' + recipient)
        //modal.find('.modal-body input').val(recipient)
        //modal.find('.modal-body input').val(recipient)
    });

    $('.addGbtn').click(function () {   //將已分好組別裡的某位學生加入其他組別
        var otherGroupStudent = [];
        var gid = this.id;
        $("input[name='all_student']").each(function () {
            if ($(this).prop("checked")) {
                otherGroupStudent.push($(this).val());
            }
        });
        console.log(otherGroupStudent);
        console.log(gid);
        //alert(otherGroupStudent)
        $.ajax({
            url: "@Url.Action("AddStuToOtherGroup", "Course")",
            method: "post",
            contentType: 'application/json',
            data: JSON.stringify({ gid: gid, StudentList : otherGroupStudent, CID : "@Model.CID" }),
            success: function (response) {
                window.location.reload();

            },
            error: function (thrownError) {
                console.log(thrownError);
            }
        });
    });

    $('#alert').click(function () {    //儲存Modal的資料
        console.log($('#group_name').val());
        var students = [];
        $("input[name='all_student']").each(function () {
            if ($(this).prop("checked")) {
                //text += $(this).attr('id') + '<br/>';zz
                //var student = { SID: $(this).val()}
                students.push($(this).val());
                // get val use " $(this).val() "
            }
        });
        console.log(students);
        //console.log($('#selected_students').val());
        $.ajax({
            url: "@Url.Action("StudentGroup", "Course")",
            method: "post",
            contentType: 'application/json',
            data: JSON.stringify({ GName: $('#group_name').val(), StudentList : students, CID : "@Model.CID" }),
            success: function (response) {
                window.location.reload();
                //const charge = [];
                //charge.push(...response);
                //createDomElement(charge);
            },
            error: function (thrownError) {
                console.log(thrownError);
            }
        });

    });

    $('#groupclick').click(function () {    //隨機分組
        var students = [];
        var gn = $("#groupN").val();
        var cid = '@Model.CID';
        console.log(gn);
        $.ajax({
            url: "@Url.Action("GroupN", "Course")",
            method: "post",
            contentType: 'application/json',
            data: JSON.stringify({ n: gn , cid : cid}),
            success: function (response) {
                window.location.reload();

            },
            error: function (thrownError) {
                console.log(thrownError);
            }
        });
        console.log(123);
    })

    $('.groupclose').click(function () {    //刪除已分好的組別
        var gid = this.id;
            //alert(gid);

        $.ajax({
            url: "@Url.Action("GroupDelete", "Course")",
            method: "post",
            contentType: 'application/json',
            data: JSON.stringify({ groupId: gid }),
            success: function (response) {
                window.location.reload();

            },
            error: function (thrownError) {
                console.log(thrownError);
            }
        });
        console.log(123);
    })


    $('.stuclose').click(function () {   //刪除已分好的組別裡面的某位學生
        var sid = this.id;

        $.ajax({
            url: "@Url.Action("GroupStudentDelete", "Course")",
            method: "post",
            contentType: 'application/json',
            data: JSON.stringify({groupStuId: sid}),
            success: function (response) {
                window.location.reload();

            },
            error: function (thrownError) {
                console.log(thrownError);
            }
        });

    })


    </script>
}

