@model LMSweb.ViewModel.SurveyQuestionViewModel
@{
    ViewBag.Title = "SelectPersonalE";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<div class="cardArticle">
    <h4>@Model.CName</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("PersonalAbility", "Questions", new { mid = Model.MID, cid = Model.CID})">自評互評題目設定</a></li>
            <li class="breadcrumb-item" active" aria-current="page">選擇個人能力題目</li>
        </ol>
    </nav>
</div>
<div class="article">
    <h4><b>個人能力參考題目</b></h4>
    <table id="table_id" class="table table-striped">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    題型
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DefaultQuestion.Description)
                </th>
                <th>
                    選項
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="number">
            @foreach (var item in Model.DefaultQuestions)
            {
                <tr>
                    <td class="col-1"></td>
                    <td class="col-2">
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td class="col-5">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @foreach (var op in item.DefaultOptions)
                        {
                            if (op.DQID == item.DQID)
                            {
                                @op.DOptions
                                <br />
                            }
                        }
                    </td>
                    <td class="col-1">
                        <button class="btn btn-primary" onclick="location.href='@Url.Action("AddPersonalE", "Questions", new { dqid = item.DQID, mid = Model.MID, cid = Model.CID})'">
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                            </svg>
                            加入
                        </button>
                    </td>
                </tr>
            }
        </tbody>



    </table>

</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table_id').DataTable();
        });
        window.onload = function () {
            var tableLine = document.getElementById("number");
            for (var i = 0; i < tableLine.rows.length; i++) {
                tableLine.rows[i].cells[0].innerHTML = (i + 1);
            }
        }
    </script>
}